.hop-ListBoxItem  {
    /* Default */
    --hop-ListBoxItem-outline-size: 0.125rem;
    --hop-ListBoxItem-outline-color: var(--hop-primary-border-focus);
    --hop-ListBoxItem-row-gap: var(--hop-space-stack-xs);
    --hop-ListBoxItem-column-gap: var(--hop-space-inline-sm);
    --hop-ListBoxItem-indicator-inline-size: calc( 1rem + var(--hop-ListBoxItem-column-gap));
    --hop-ListBoxItem-grid-template-areas: "indicator avatar icon label end-icon badge";
    --hop-ListBoxItem-grid-template-areas-with-description:
        "indicator avatar icon label end-icon badge"
        ". . . description description description";
    --hop-ListBoxItem-grid-template-areas-loading: "label";
    --hop-ListBoxItem-grid-template-columns: var(--hop-ListBoxItem-indicator-inline-size) auto auto 1fr auto auto;
    --hop-ListBoxItem-grid-template-columns-not-selected: 0 auto auto 1fr auto auto;
    --hop-ListBoxItem-grid-template-columns-loading: 1fr;
    --hop-ListBoxItem-badge-margin-block: calc(-1 * (var(--hop-space-stack-xs) / 2));

    /* xs */
    --hop-ListBoxItem-xs-padding-block: var(--hop-space-inset-xs);
    --hop-ListBoxItem-xs-padding-inline: var(--hop-space-inset-md);
    --hop-ListBoxItem-xs-min-height: 2rem;
    --hop-ListBoxItem-xs-avatar-margin-block: 0;
    --hop-ListBoxItem-xs-label-font-weight: var(--hop-body-sm-font-weight);
    --hop-ListBoxItem-xs-label-font-weight-selected: var(--hop-body-sm-medium-font-weight);

    /* sm */
    --hop-ListBoxItem-sm-padding-block: var(--hop-space-inset-sm);
    --hop-ListBoxItem-sm-padding-inline: var(--hop-space-inset-md);
    --hop-ListBoxItem-sm-min-height: 2.5rem;
    --hop-ListBoxItem-sm-avatar-margin-block: 0;
    --hop-ListBoxItem-sm-label-font-weight: var(--hop-body-sm-font-weight);
    --hop-ListBoxItem-sm-label-font-weight-selected: var(--hop-body-sm-medium-font-weight);

    /* md */
    --hop-ListBoxItem-md-padding-block: var(--hop-space-inset-md);
    --hop-ListBoxItem-md-padding-inline: var(--hop-space-inset-md);
    --hop-ListBoxItem-md-min-height: 3.5rem;
    --hop-ListBoxItem-md-avatar-margin-block: calc(-1 * var(--hop-space-stack-xs));
    --hop-ListBoxItem-md-label-font-weight: var(--hop-body-sm-font-weight);
    --hop-ListBoxItem-md-label-font-weight-selected: var(--hop-body-sm-medium-font-weight);

    /* lg */
    --hop-ListBoxItem-lg-padding-block: var(--hop-space-inset-md);
    --hop-ListBoxItem-lg-padding-inline: var(--hop-space-inset-md);
    --hop-ListBoxItem-lg-min-height: 4rem;
    --hop-ListBoxItem-lg-avatar-margin-block: calc(-1 * var(--hop-space-stack-xs));
    --hop-ListBoxItem-lg-label-font-weight: var(--hop-body-md-font-weight);
    --hop-ListBoxItem-lg-label-font-weight-selected: var(--hop-body-md-medium-font-weight);

    /* Internal Variables */
    --background-color: var(--hop-comp-listbox-item-background-color);
    --text-color: var(--hop-comp-listbox-item-text-color);
    --icon-color: var(--hop-comp-listbox-item-icon-color);
    --outline: none;
    --cursor: default;
    --checkmark-opacity: 0;
    --description-text-color: var(--hop-comp-listbox-item-description-text-color);
    --row-gap: 0;
    --grid-template-areas: var(--hop-ListBoxItem-grid-template-areas);
    --grid-template-columns: var(--hop-ListBoxItem-grid-template-columns);
    --checkmark-transition: opacity 0.2s ease-in-out .2s;

    cursor: var(--cursor);

    box-sizing: border-box;

    color: var(--text-color);

    background-color: var(--background-color);
    border-radius: var(--hop-comp-listbox-item-border-radius);
    outline: var(--outline);
    outline-offset: calc(-1 * var(--hop-ListBoxItem-outline-size));
}

.hop-ListBoxItem--xs {
    --padding-block: var(--hop-ListBoxItem-xs-padding-block);
    --padding-inline: var(--hop-ListBoxItem-xs-padding-inline);
    --min-height: var(--hop-ListBoxItem-xs-min-height);
    --avatar-margin-block: var(--hop-ListBoxItem-xs-avatar-margin-block);
    --label-font-weight: var(--hop-ListBoxItem-xs-label-font-weight);
}

.hop-ListBoxItem--sm {
    --padding-block: var(--hop-ListBoxItem-sm-padding-block);
    --padding-inline: var(--hop-ListBoxItem-sm-padding-inline);
    --min-height: var(--hop-ListBoxItem-sm-min-height);
    --avatar-margin-block: var(--hop-ListBoxItem-sm-avatar-margin-block);
    --label-font-weight: var(--hop-ListBoxItem-sm-label-font-weight);
}

.hop-ListBoxItem--md {
    --padding-block: var(--hop-ListBoxItem-md-padding-block);
    --padding-inline: var(--hop-ListBoxItem-md-padding-inline);
    --min-height: var(--hop-ListBoxItem-md-min-height);
    --avatar-margin-block: var(--hop-ListBoxItem-md-avatar-margin-block);
    --label-font-weight: var(--hop-ListBoxItem-md-label-font-weight);
}

.hop-ListBoxItem--lg {
    --padding-block: var(--hop-ListBoxItem-lg-padding-block);
    --padding-inline: var(--hop-ListBoxItem-lg-padding-inline);
    --min-height: var(--hop-ListBoxItem-lg-min-height);
    --avatar-margin-block: var(--hop-ListBoxItem-lg-avatar-margin-block);
    --label-font-weight: var(--hop-ListBoxItem-lg-label-font-weight);
}

.hop-ListBoxItem[data-selection-mode] {
    --cursor: pointer;
}

.hop-ListBoxItem:not([data-selection-mode]) {
    --grid-template-columns: var(--hop-ListBoxItem-grid-template-columns-not-selected);
}

.hop-ListBoxItem__inner:not([data-list-has-selection]):has(.hop-ListBoxItem__checkmark) {
    --grid-template-columns: var(--hop-ListBoxItem-grid-template-columns-not-selected);
}

.hop-ListBoxItem__inner[data-list-has-selection-end]:has(.hop-ListBoxItem__checkmark) {
    --checkmark-transition: none;
}

.hop-ListBoxItem[data-selected] {
    --background-color: var(--hop-comp-listbox-item-selected-background-color);
    --text-color: var(--hop-comp-listbox-item-selected-text-color);
    --icon-color: var(--hop-comp-listbox-item-selected-icon-color);
    --checkmark-opacity: 1;
}

.hop-ListBoxItem--xs[data-selected] {
    --label-font-weight: var(--hop-ListBoxItem-xs-label-font-weight-selected);
}

.hop-ListBoxItem--sm[data-selected] {
    --label-font-weight: var(--hop-ListBoxItem-sm-label-font-weight-selected);
}

.hop-ListBoxItem--md[data-selected] {
    --label-font-weight: var(--hop-ListBoxItem-md-label-font-weight-selected);
}

.hop-ListBoxItem--lg[data-selected] {
    --label-font-weight: var(--hop-ListBoxItem-lg-label-font-weight-selected);
}

.hop-ListBoxItem[data-focus-visible] {
    --background-color: var(--hop-comp-listbox-item-focus-background-color);
    --text-color: var(--hop-comp-listbox-item-focus-text-color);
    --icon-color: var(--hop-comp-listbox-item-focus-icon-color);
    --outline: var(--hop-ListBoxItem-outline-size) solid var(--hop-ListBoxItem-outline-color);
}

.hop-ListBoxItem[data-hovered] {
    --background-color: var(--hop-comp-listbox-item-hover-background-color);
    --text-color: var(--hop-comp-listbox-item-hover-text-color);
    --icon-color: var(--hop-comp-listbox-item-hover-icon-color);
}

.hop-ListBoxItem[data-pressed] {
    --background-color: var(--hop-comp-listbox-item-press-background-color);
    --text-color: var(--hop-comp-listbox-item-press-text-color);
    --icon-color: var(--hop-comp-listbox-item-press-icon-color);
}

.hop-ListBoxItem[data-disabled] {
    --background-color: var(--hop-comp-listbox-item-disabled-background-color);
    --text-color: var(--hop-comp-listbox-item-disabled-text-color);
    --icon-color: var(--hop-comp-listbox-item-disabled-icon-color);
    --description-text-color: var(--hop-comp-listbox-item-disabled-text-color);
    --cursor: not-allowed;
}

.hop-ListBoxItem[data-invalid] {
    --background-color: var(--hop-comp-listbox-item-invalid-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-icon-color);
}

.hop-ListBoxItem[data-invalid][data-selected] {
    --background-color: var(--hop-comp-listbox-item-invalid-selected-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-selected-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-selected-icon-color);
}

.hop-ListBoxItem[data-invalid][data-focus-visible] {
    --background-color: var(--hop-comp-listbox-item-invalid-focus-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-focus-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-focus-icon-color);
    --description-text-color: var(--hop-comp-listbox-item-invalid-focus-description-text-color);
}

.hop-ListBoxItem[data-invalid][data-hovered] {
    --background-color: var(--hop-comp-listbox-item-invalid-hover-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-hover-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-hover-icon-color);
    --description-text-color: var(--hop-comp-listbox-item-invalid-hover-description-text-color);
}

.hop-ListBoxItem[data-invalid][data-pressed] {
    --background-color: var(--hop-comp-listbox-item-invalid-press-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-press-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-press-icon-color);
    --description-text-color: var(--hop-comp-listbox-item-invalid-press-description-text-color);
}

.hop-ListBoxItem[data-invalid][data-disabled] {
    --background-color: var(--hop-comp-listbox-item-invalid-disabled-background-color);
    --text-color: var(--hop-comp-listbox-item-invalid-disabled-text-color);
    --icon-color: var(--hop-comp-listbox-item-invalid-disabled-icon-color);
}

.hop-ListBoxItem:has(.hop-ListBoxItem__description) {
    --row-gap: var(--hop-ListBoxItem-row-gap);
    --grid-template-areas: var(--hop-ListBoxItem-grid-template-areas-with-description);
}

.hop-ListBoxItem[data-loading] {
    --grid-template-areas: var(--hop-ListBoxItem-grid-template-areas-loading);
    --grid-template-columns: var(--hop-ListBoxItem-grid-template-columns-loading);
}

.hop-ListBoxItem__inner {
    display: grid;
    grid-template-areas: var(--grid-template-areas);
    grid-template-columns: var(--grid-template-columns);
    row-gap: var(--row-gap);
    align-items: center;

    box-sizing: border-box;
    min-block-size: var(--min-height);
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);

    transition: grid-template-columns .3s ease-in-out;
}

.hop-ListBoxItem__checkmark {
    grid-area: indicator;

    margin-inline-end: var(--hop-ListBoxItem-column-gap);

    color: var(--icon-color);

    opacity: var(--checkmark-opacity);

    transition: var(--checkmark-transition);
}

.hop-ListBoxItem__radio,
.hop-ListBoxItem__checkbox {
    pointer-events: none;
    user-select: none;
    grid-area: indicator;
    margin-inline-end: var(--hop-ListBoxItem-column-gap);
}

.hop-ListBoxItem__avatar {
    grid-area: avatar;
    margin-block: var(--avatar-margin-block, 0);
    margin-inline-end: var(--hop-ListBoxItem-column-gap);
}

.hop-ListBoxItem__icon-list,
.hop-ListBoxItem__icon {
    grid-area: icon;
    flex: 0 0 auto;
    margin-inline-end: var(--hop-ListBoxItem-column-gap);
    color: var(--icon-color);
}

.hop-ListBoxItem__label {
    overflow: hidden;
    grid-area: label;

    min-inline-size: 0;

    font-weight: var(--label-font-weight);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hop-ListBoxItem__end-icon-list,
.hop-ListBoxItem__end-icon {
    grid-area: end-icon;
    margin-inline-start: var(--hop-ListBoxItem-column-gap);
    color: var(--icon-color);
}

.hop-ListBoxItem__badge {
    grid-area: badge;
    margin-block: var(--hop-ListBoxItem-badge-margin-block);
    margin-inline-start: var(--hop-ListBoxItem-column-gap);
}

.hop-ListBoxItem__description {
    overflow: hidden;
    display: -webkit-box;
    grid-area: description;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    color: var(--description-text-color);
}
