.hop-Tab {
    --hop-Tab-display: flex;
    --hop-Tab-gap: var(--hop-space-inset-sm);
    --hop-Tab-align-items: center;
    --hop-Tab-justify-content: center;
    --hop-Tab-white-space: nowrap;
    --hop-Tab-outline: none;
    --hop-Tab-padding: var(--hop-space-inset-sm);
    --hop-Tab-text-decoration: none;
    --hop-Tab-cursor: pointer;

    /* Focus */
    --hop-Tab-focus-outline: var(--hop-space-20) solid var(--hop-comp-tabs-tab-border-color-focus);

    /* Medium */
    --hop-Tab-medium-padding: var(--hop-space-20);

    /* Internals */
    --padding: var(--hop-Tab-padding);

    cursor: var(--cursor, var(--hop-Tab-cursor));

    position: relative;

    display: var(--hop-Tab-display);
    gap: var(--hop-Tab-gap);
    align-items: var(--hop-Tab-align-items);
    justify-content: var(--hop-Tab-justify-content);

    box-sizing: border-box;
    padding: var(--padding);

    color: var(--color, var(--hop-comp-tabs-tab-text-color));
    white-space: var(--hop-Tab-white-space);

    border-radius: var(--hop-comp-tabs-tab-border-radius);
    outline: var(--outline, var(--hop-Tab-outline));
    text-decoration: var(--hop-Tab-text-decoration);
}

.hop-Tab--fluid {
    flex: 1;
}

.hop-Tab--md {
    --padding:  var(--hop-Tab-medium-padding);
}

.hop-Tab[data-selected] {
    --color: var(--hop-comp-tabs-tab-text-color-selected);
}

.hop-Tab[data-hovered] {
    --color: var(--hop-comp-tabs-tab-text-color-hover);
}

.hop-Tab[data-pressed] {
    --color: var(--hop-comp-tabs-tab-text-color-press);
}

.hop-Tab[data-focus-visible] {
    --color: var(--hop-comp-tabs-tab-text-color-focus);
    --outline: var(--hop-Tab-focus-outline);
}

.hop-Tab[data-disabled] {
    --color: var(--hop-comp-tabs-tab-text-color-disabled);
    --cursor: auto;
}

.hop-Tab__icon {
    order: 1;
}

.hop-Tab__text {
    order: 2;
}

.hop-Tab__badge {
    order: 3;
}

.hop-Tab__tag {
    order: 4;
}

.hop-Tab__selector {
    position:absolute;

    /** same value as --hop-TabList-padding-block */
    inset-block-end: calc(-1 * (var(--hop-space-inset-xs) + var(--hop-space-10)));
    inset-inline-start:0;

    box-sizing: border-box;
    inline-size: 100%;
    padding: 0 var(--padding)
}

.hop-Tab__selector--inner {
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 0.125rem;

    background-color: var(--hop-comp-tabs-tab-border-color-selected);
    border-style: none;
}

.hop-Tab__selector--disabled .hop-Tab__selector--inner {
    background-color: var(--hop-comp-tabs-tab-border-color-disabled);
}
