.hop-TabList {
    --hop-TabList-position: relative;
    --hop-TabList-overflow-y: auto;
    --hop-Tablist-border-radius: var(--hop-shape-rounded-md);

    /* Standalone */
    --hop-TabList-standalone-background: var(--hop-neutral-surface-weakest);
    --hop-TabList-standalone-padding-block: var(--hop-space-inset-sm);
    --hop-TabList-standalone-border: 0.0625rem solid var(--hop-neutral-border-weak);

    /* In card */
    --hop-TabList-in-card-background: var(--hop-neutral-surface-weakest);
    --hop-TabList-in-card-padding-block: var(--hop-space-inset-sm);
    --hop-TabList-in-card-border: 0.0625rem solid var(--hop-neutral-border-weak);

    position: var(--hop-TabList-position);

    overflow-y: var(--hop-TabList-overflow-y);

    padding-block: var(--padding-block);

    background: var(--background);
    border: var(--border);
}

.hop-TabList--standalone {
    --background: var(--hop-TabList-standalone-background);
    --padding-block: var(--hop-TabList-standalone-padding-block);
    --border: var(--hop-TabList-standalone-border);

    border-radius: var(--hop-Tablist-border-radius);
}

.hop-TabList--in-card {
    --background: var(--hop-TabList-in-card-background);
    --padding-block: var(--hop-TabList-in-card-padding-block);

    border: 0;
    border-block-end: var(--hop-TabList-in-card-border);
    border-radius: var(--hop-Tablist-border-radius) var(--hop-Tablist-border-radius) 0 0;
}

.hop-TabList__tablist {
    --hop-TabList__tablist-display: flex;

    /* Standalone */
    --hop-TabList__tablist-standalone-gap: var(--hop-space-inset-md);
    --hop-TabList__tablist-standalone-padding-inline: var(--hop-space-inset-md);

    /* In card */
    --hop-TabList__tablist-in-card-gap: var(--hop-space-inset-md);
    --hop-TabList__tablist-in-card-padding-inline: var(--hop-space-inset-md);

    /* Heading */
    --hop-TabList__tablist-heading-gap: calc(2 * var(--hop-space-inset-sm));
    --hop-TabList__tablist-heading-padding-inline: var(--hop-space-inset-sm);

    display: var(--hop-TabList__tablist-display);
    gap: var(--tablist-gap);
    padding-inline: var(--tablist-padding-inline);
}

.hop-TabList--standalone > .hop-TabList__tablist {
    --tablist-gap: var(--hop-TabList__tablist-standalone-gap);
    --tablist-padding-inline: var(--hop-TabList__tablist-standalone-padding-inline);
}

.hop-TabList--in-card > .hop-TabList__tablist {
    --tablist-gap: var(--hop-TabList__tablist-in-card-gap);
    --tablist-padding-inline: var(--hop-TabList__tablist-in-card-padding-inline);
}

.hop-TabList--heading > .hop-TabList__tablist {
    --tablist-gap: var(--hop-TabList__tablist-heading-gap);
    --tablist-padding-inline: var(--hop-TabList__tablist-heading-padding-inline);
}
