.hop-Switch {
    /* Default */
    --hop-Switch-border-size: 0.0625rem;
    --hop-Switch-border-color: var(--hop-comp-control-border-color);
    --hop-Switch-border-radius: var(--hop-comp-switch-border-radius);
    --hop-Switch-background-color: var(--hop-comp-control-background-color);
    --hop-Switch-thumb-color: var(--hop-comp-switch-icon-color);
    --hop-Switch-text-color: var(--hop-neutral-text);

    /* Hover */
    --hop-Switch-border-color-hover: var(--hop-comp-control-border-color-hover);
    --hop-Switch-background-color-hover: var(--hop-comp-control-background-color-hover);
    --hop-Switch-thumb-color-hover: var(--hop-comp-switch-icon-color-hover);
    --hop-Switch-text-color-hover: var(--hop-neutral-text-hover);

    /* Pressed */
    --hop-Switch-border-color-pressed: var(--hop-comp-control-border-color-press);
    --hop-Switch-background-color-pressed: var(--hop-comp-control-background-color-press);
    --hop-Switch-thumb-color-pressed: var(--hop-comp-switch-icon-color-press);
    --hop-Switch-text-color-pressed: var(--hop-neutral-text-press);

    /* Focus Visible */
    --hop-Switch-border-color-focus: var(--hop-comp-control-border-color-hover);
    --hop-Switch-background-color-focus: var(--hop-comp-control-background-color-hover);
    --hop-Switch-thumb-color-focus: var(--hop-comp-switch-icon-color-hover);
    --hop-Switch-focus-ring-color: var(--hop-comp-control-border-color-focus);
    --hop-Switch-text-color-focus: var(--hop-neutral-text);

    /* Selected */
    --hop-Switch-border-color-selected: var(--hop-comp-control-border-color-selected);
    --hop-Switch-background-color-selected: var(--hop-comp-switch-background-color-selected);
    --hop-Switch-thumb-color-selected: var(--hop-comp-switch-icon-color-selected);
    --hop-Switch-text-color-selected: var(--hop-neutral-text);

    /* Disabled */
    --hop-Switch-border-color-disabled: var(--hop-comp-control-border-color-disabled);
    --hop-Switch-background-color-disabled: var(--hop-comp-control-background-color-disabled);
    --hop-Switch-thumb-color-disabled: var(--hop-comp-switch-icon-color-disabled);
    --hop-Switch-text-color-disabled: var(--hop-neutral-text-disabled);

    /* Medium */
    --hop-Switch-inline-size-md: 3rem;
    --hop-Switch-block-size-md: 1.5rem;
    --hop-Switch-thumb-size-md: 1rem;
    --hop-Switch-inset-inline-start-md: var(--hop-space-inset-xs);
    --hop-Switch-text-top-offset-md: calc((var(--block-size) - (var(--hop-body-md-line-height) * var(--hop-body-md-font-size))) / 2);

    /* Small */
    --hop-Switch-inline-size-sm: 2rem;
    --hop-Switch-block-size-sm: 1rem;
    --hop-Switch-thumb-size-sm: 0.75rem;
    --hop-Switch-inset-inline-start-sm: calc(var(--hop-space-inset-xs) / 2);
    --hop-Switch-text-top-offset-sm: calc((var(--block-size) - (var(--hop-body-sm-line-height) * var(--hop-body-sm-font-size))) / 2);

    /* Internal Variables */
    --border-size: var(--hop-Switch-border-size);
    --border-color: var(--hop-Switch-border-color);
    --border-radius: var(--hop-Switch-border-radius);
    --background-color: var(--hop-Switch-background-color);
    --column-gap: var(--hop-space-inline-sm);
    --thumb-color: var(--hop-Switch-thumb-color);
    --thumb-transform: translate(0, -50%);
    --thumb-filter: var(--hop-comp-switch-thumb-filter);
    --outline: none;
    --cursor: pointer;
    --text-color: var(--hop-Switch-text-color);

    cursor: var(--cursor);

    display: inline-flex;
    column-gap: var(--column-gap);
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
    inline-size: max-content;
    max-inline-size: 100%;
}

.hop-Switch--sm {
    --inline-size: var(--hop-Switch-inline-size-sm);
    --block-size: var(--hop-Switch-block-size-sm);
    --thumb-size: var(--hop-Switch-thumb-size-sm);
    --inset-inline-start: var(--hop-Switch-inset-inline-start-sm);
    --text-top-offset: var(--hop-Switch-text-top-offset-sm);
}

.hop-Switch--md {
    --inline-size: var(--hop-Switch-inline-size-md);
    --block-size: var(--hop-Switch-block-size-md);
    --thumb-size: var(--hop-Switch-thumb-size-md);
    --inset-inline-start: var(--hop-Switch-inset-inline-start-md);
    --text-top-offset: var(--hop-Switch-text-top-offset-md);
}

.hop-Switch[data-hovered] {
    --border-color: var(--hop-Switch-border-color-hover);
    --background-color: var(--hop-Switch-background-color-hover);
    --thumb-color: var(--hop-Switch-thumb-color-hover);
    --text-color: var(--hop-Switch-text-color-hover);
}

.hop-Switch[data-pressed],
.hop-Switch[data-pressed][data-focus-visible] {
    --border-color: var(--hop-Switch-border-color-pressed);
    --background-color: var(--hop-Switch-background-color-pressed);
    --thumb-color: var(--hop-Switch-thumb-color-pressed);
    --text-color: var(--hop-Switch-text-color-pressed);
}

.hop-Switch[data-focus-visible] {
    --border-color: var(--hop-Switch-border-color-focus);
    --background-color: var(--hop-Switch-background-color-focus);
    --thumb-color: var(--hop-Switch-thumb-color-focus);
    --outline: 0.125rem solid var(--hop-Switch-focus-ring-color);
    --text-color: var(--hop-Switch-text-color-focus);
}

.hop-Switch[data-selected],
.hop-Switch[data-selected][data-pressed] {
    --border-color: var(--hop-Switch-border-color-selected);
    --background-color: var(--hop-Switch-background-color-selected);
    --thumb-color: var(--hop-Switch-thumb-color-selected);
    --thumb-transform: translate(calc(var(--inline-size) -
    var(--thumb-size, var(--hop-Switch-thumb-size-md)) -
    (2 * var(--inset-inline-start, var(--hop-Switch-inset-inline-start-md))) -
    (2 * var(--border-size))), -50%);
    --thumb-filter: var(--hop-comp-switch-thumb-filter-selected);
    --text-color: var(--hop-Switch-text-color-selected);
}

.hop-Switch[data-disabled] {
    --border-color: var(--hop-Switch-border-color-disabled);
    --background-color: var(--hop-Switch-background-color-disabled);
    --thumb-color: var(--hop-Switch-thumb-color-disabled);
    --text-color: var(--hop-Switch-text-color-disabled);
    --cursor: not-allowed;
}

/* Track */
.hop-Switch__indicator {
    position: relative;

    flex: 0 0 auto;

    box-sizing: border-box;
    inline-size: var(--inline-size, var(--hop-Switch-inline-size-md));
    block-size: var(--block-size, var(--hop-Switch-block-size-md));

    background-color: var(--background-color);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: var(--outline);
    outline-offset: 0.125rem;

    filter: var(--hop-comp-switch-track-filter);
    box-shadow: var(--hop-comp-switch-track-box-shadow);



    transition: background var(--hop-easing-duration-2), border-color var(--hop-easing-duration-2);
}

/* Thumb */
.hop-Switch__indicator::before {
    content: "";

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: var(--inset-inline-start);
    transform: var(--thumb-transform);

    flex: 0 0 auto;
    order: 1;

    box-sizing: border-box;
    inline-size: var(--thumb-size);
    block-size: var(--thumb-size);

    background-color: var(--thumb-color);
    border-radius: var(--hop-shape-circle);

    filter: var(--thumb-filter);

    transition: transform var(--hop-easing-duration-2), background var(--hop-easing-duration-2);

}

.hop-Switch__text {
    flex: 0 1 auto;
    order: 2;

    min-inline-size: 0;
    margin-block-start: var(--text-top-offset, var(--hop-Switch-text-top-offset-md));

    color: var(--text-color);
}

.hop-Switch__icon-list,
.hop-Switch__icon {
    order: 3;
}
