.hop-Avatar  {
    /* Default */
    --hop-Avatar-mix-blend-mode: normal;

    /* Sizes */
    --hop-Avatar-xs-size: 1rem;
    --hop-Avatar-sm-size: 1.5rem;
    --hop-Avatar-md-size: 2rem;
    --hop-Avatar-lg-size: 3rem;
    --hop-Avatar-xl-size: 4rem;
    --hop-Avatar-2xl-size: 6rem;

    /* disabled */
    --hop-Avatar-mix-blend-mode-disabled: luminosity;

    /* Internal variables */
    --mix-blend-mode: var(--hop-Avatar-mix-blend-mode);

    user-select: none;

    position: relative;

    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--size, var(--hop-Avatar-md-size));
    block-size: var(--size, var(--hop-Avatar-md-size));

    color: var(--text-color, var(--hop-neutral-text));

    background-color: var(--background-color, transparent);
    border-radius: var(--hop-comp-avatar-border-radius);
    outline: none;
}

.hop-Avatar--xs {
    --size: var(--hop-Avatar-xs-size);
}

.hop-Avatar--sm {
    --size: var(--hop-Avatar-sm-size);
}

.hop-Avatar--md {
    --size: var(--hop-Avatar-md-size);
}

.hop-Avatar--lg {
    --size: var(--hop-Avatar-lg-size);
}

.hop-Avatar--xl {
    --size: var(--hop-Avatar-xl-size);
}

.hop-Avatar--2xl {
    --size: var(--hop-Avatar-2xl-size);
}

.hop-Avatar--clickable {
    cursor: pointer;
}

.hop-Avatar--focus-visible {
    outline: 0.125rem solid var(--hop-primary-border-focus);
}

/* Colors */
.hop-Avatar--decorative-option1 {
    --background-color: var(--hop-comp-avatar-decorative-option1-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option1-text-color);
}

.hop-Avatar--decorative-option2 {
    --background-color: var(--hop-comp-avatar-decorative-option2-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option2-text-color);
}

.hop-Avatar--decorative-option3 {
    --background-color: var(--hop-comp-avatar-decorative-option3-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option3-text-color);
}

.hop-Avatar--decorative-option4 {
    --background-color: var(--hop-comp-avatar-decorative-option4-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option4-text-color);
}

.hop-Avatar--decorative-option5 {
    --background-color: var(--hop-comp-avatar-decorative-option5-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option5-text-color);
}

.hop-Avatar--decorative-option6 {
    --background-color: var(--hop-comp-avatar-decorative-option6-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option6-text-color);
}

.hop-Avatar--decorative-option7 {
    --background-color: var(--hop-comp-avatar-decorative-option7-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option7-text-color);
}

.hop-Avatar--decorative-option8 {
    --background-color: var(--hop-comp-avatar-decorative-option8-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option8-text-color);
}

.hop-Avatar--decorative-option9 {
    --background-color: var(--hop-comp-avatar-decorative-option9-background-color);
    --text-color: var(--hop-comp-avatar-decorative-option9-text-color);
}

.hop-Avatar[data-disabled] {
    --background-color: var(--hop-comp-avatar-disabled-background-color);
    --text-color: var(--hop-comp-avatar-disabled-text-color);
    --mix-blend-mode: var(--hop-Avatar-mix-blend-mode-disabled);

    isolation: isolate;
}

.hop-Avatar__image {
    position: relative;

    display: block;

    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;

    object-fit: cover;
    mix-blend-mode: var(--mix-blend-mode);
}

.hop-Avatar__initials {
    white-space: nowrap;
}
