
.hd-ai {
    display: flex;
    width: fit-content;
    background: var(--hd-accent-100);
    border: 0.0625rem solid var(--hd-accent-700);
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    margin-block-end: var(--hd-space-2);
    color: var(--hd-accent-900);
    border-radius: var(--hd-border-radius-md);
    align-items: center;
}

.hd-ai__tag {
    background: var(--hd-accent-900);
    color: var(--hd-white);
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--hd-border-radius-sm);
    margin-right: var(--hd-space-1);
    white-space: nowrap;
    height: fit-content;
}
