.hop-PopoverBase {
    --hop-Popover-background: var(--hop-neutral-surface);
    --hop-Popover-border: 0.0625rem solid var(--hop-neutral-border-weak);
    --hop-Popover-border-radius: var(--hop-shape-rounded-md);
    --hop-Popover-box-shadow: var(--hop-elevation-lifted);
    --hop-Popover-color: var(--hop-neutral-text);
    --hop-Popover-color-outline: var(--hop-space-20) solid var(--hop-primary-border-focus);
    --hop-Popover-font-family: var(--hop-body-md-font-family);
    --hop-Popover-font-size: var(--hop-body-md-font-size);
    --hop-Popover-font-weight: var(--hop-body-md-font-weight);
    --hop-Popover-line-height: var(--hop-body-md-line-height);
    --hop-Popover-font-smoothing: antialiased;

    isolation: isolate;

    display: flex;
    flex-shrink: 0;
    align-items: center;

    box-sizing: border-box;

    /* Don't be larger than full screen minus 2 * containerPadding. --container-padding is coming from JS */
    max-inline-size: calc(100vw - 2* var(--container-padding, 0));

    font-family: var(--hop-Popover-font-family);
    font-size: var(--hop-Popover-font-size);
    font-weight: var(--hop-Popover-font-weight);
    -webkit-font-smoothing: var(--hop-Popover-font-smoothing);
    line-height: var(--hop-Popover-line-height);
    color: var(--hop-Popover-color);

    background-color: var(--hop-Popover-background);
    border: var(--hop-Popover-border);
    border-radius: var(--hop-Popover-border-radius);
    outline: none;
    box-shadow: var(--hop-Popover-box-shadow);

    transition: opacity  var(--hop-easing-duration-2) ;
}

.hop-PopoverBase[data-entering]{
    opacity: 0;
}

.hop-PopoverBase[data-exiting] {
    pointer-events: none;
    opacity: 0;
    transition-timing-function: var(--hop-easing-productive);
}

/* a Popover doesn't have [data-focus-visible] */
.hop-PopoverBase:focus-visible {
	outline: var(--hop-Popover-color-outline);
}
