.hd-dosAndDonts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (width < 75rem) {
  .hd-dosAndDonts {
    grid-template-columns: 1fr;
  }
}

.hd-dosAndDonts__example {
    padding: 0.25rem;
    border-radius: var(--hd-border-radius-lg);
    margin-bottom: 1rem;
}

.hd-dosAndDonts__example--do {
    background-color: var(--hop-status-positive-surface);
}

.hd-dosAndDonts__example--dont {
    background-color: var(--hop-status-negative-surface);
}

.hd-dosAndDonts__example figure {
    margin-bottom: 0 !important;
}

.hd-dosAndDonts__explanation {
   padding-top: 1rem;
}
