.hd-dosAndDonts__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hd-dosAndDonts__example {
    width: 100%;
    margin-bottom: 1rem;
}

.hd-dosAndDonts__example--do figure,
.hd-dosAndDonts__example--do .hd-component-preview-wrapper__card {
    border: 0.25rem solid var(--hop-status-positive-surface);
}

.hd-dosAndDonts__example--dont figure,
.hd-dosAndDonts__example--dont .hd-component-preview-wrapper__card {
    border: 0.25rem solid var(--hop-status-negative-surface);
}

.hd-dosAndDonts__example figure,
.hd-dosAndDonts__example .hd-component-preview-wrapper__card {
    border-radius: var(--hd-border-radius-lg);
    margin-bottom: 0 !important;
}

.hd-dosAndDonts__explanation {
   padding-top: 1rem;
}
