.hop-Link  {
    --hop-Link-border-radius: var(--hop-shape-rounded-sm);
    --hop-Link-focus-ring-color: var(--hop-primary-border-focus);
    --hop-Link-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Link-column-gap: var(--hop-space-inline-xs);

    /** Sizes */

    --hop-Link-xs-font-size: var(--hop-body-xs-font-size);
    --hop-Link-xs-font-family: var(--hop-body-xs-font-family);
    --hop-Link-xs-font-weight: var(--hop-body-xs-font-weight);
    --hop-Link-xs-line-height: var(--hop-body-xs-line-height);
    --hop-Link-sm-font-size: var(--hop-body-sm-font-size);
    --hop-Link-sm-font-family: var(--hop-body-sm-font-family);
    --hop-Link-sm-font-weight: var(--hop-body-sm-font-weight);
    --hop-Link-sm-line-height: var(--hop-body-sm-line-height);
    --hop-Link-md-font-size: var(--hop-body-md-font-size);
    --hop-Link-md-font-family: var(--hop-body-md-font-family);
    --hop-Link-md-font-weight: var(--hop-body-md-font-weight);
    --hop-Link-md-line-height: var(--hop-body-md-line-height);
    --hop-Link-lg-font-size: var(--hop-body-lg-font-size);
    --hop-Link-lg-font-family: var(--hop-body-lg-font-family);
    --hop-Link-lg-font-weight: var(--hop-body-lg-font-weight);
    --hop-Link-lg-line-height: var(--hop-body-lg-line-height);
    --hop-Link-xl-font-size: var(--hop-body-xl-font-size);
    --hop-Link-xl-font-family: var(--hop-body-xl-font-family);
    --hop-Link-xl-font-weight: var(--hop-body-xl-font-weight);
    --hop-Link-xl-line-height: var(--hop-body-xl-line-height);
    --hop-Link-2xl-font-size: var(--hop-body-2xl-font-size);
    --hop-Link-2xl-font-family: var(--hop-body-2xl-font-family);
    --hop-Link-2xl-font-weight: var(--hop-body-2xl-font-weight);
    --hop-Link-2xl-line-height: var(--hop-body-2xl-line-height);
    --hop-Link-inherit-size-font-size: inherit;
    --hop-Link-inherit-size-font-family: inherit;
    --hop-Link-inherit-size-font-weight: inherit;
    --hop-Link-inherit-size-line-height: inherit;

    /** Primary */
    --hop-Link-primary-text-color: var(--hop-primary-text);
    --hop-Link-primary-text-disabled-color: var(--hop-primary-text-disabled);
    --hop-Link-primary-text-hover-color: var(--hop-primary-text-hover);
    --hop-Link-primary-text-pressed-color: var(--hop-primary-text-press);

    /** Secondary */
    --hop-Link-neutral-text-color: var(--hop-neutral-text);
    --hop-Link-neutral-text-disabled-color: var(--hop-neutral-text-disabled);
    --hop-Link-neutral-text-hover-color: var(--hop-neutral-text-hover);
    --hop-Link-neutral-text-pressed-color: var(--hop-neutral-text-press);

    /** Standalone */
    --hop-Link-padding-standalone: 0.125em 0;
    --hop-Link-padding-standalone-xs: var(--hop-space-20) 0;
    --hop-Link-padding-standalone-sm: var(--hop-space-20) 0;
    --hop-Link-padding-standalone-md: var(--hop-space-40) 0;
    --hop-Link-padding-standalone-lg: var(--hop-space-40) 0;
    --hop-Link-padding-standalone-xl: var(--hop-space-80) 0;
    --hop-Link-padding-standalone-2xl: var(--hop-space-80) 0;

    cursor: pointer;

    display: inline-flex;
    column-gap: var(--hop-Link-column-gap);
    align-items: center;

    box-sizing: border-box;
    inline-size: fit-content;

    text-decoration: none;
    text-underline-offset: 0.125rem;

    border-radius: var(--hop-Link-border-radius);
    outline: none;
    outline-offset: 0.125rem;
}

:where(.hop-Link) {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

:where(.hop-Link--xs) {
    --font-size: var(--hop-Link-xs-font-size);
    --font-family: var(--hop-Link-xs-font-family);
    --font-weight: var(--hop-Link-xs-font-weight);
    --line-height: var(--hop-Link-xs-line-height);
}

:where(.hop-Link--sm) {
    --font-size: var(--hop-Link-sm-font-size);
    --font-family: var(--hop-Link-sm-font-family);
    --font-weight: var(--hop-Link-sm-font-weight);
    --line-height: var(--hop-Link-sm-line-height);
}

:where(.hop-Link--md) {
    --font-size: var(--hop-Link-md-font-size);
    --font-family: var(--hop-Link-md-font-family);
    --font-weight: var(--hop-Link-md-font-weight);
    --line-height: var(--hop-Link-md-line-height);
}

:where(.hop-Link--lg) {
    --font-size: var(--hop-Link-lg-font-size);
    --font-family: var(--hop-Link-lg-font-family);
    --font-weight: var(--hop-Link-lg-font-weight);
    --line-height: var(--hop-Link-lg-line-height);
}

:where(.hop-Link--xl) {
    --font-size: var(--hop-Link-xl-font-size);
    --font-family: var(--hop-Link-xl-font-family);
    --font-weight: var(--hop-Link-xl-font-weight);
    --line-height: var(--hop-Link-xl-line-height);
}

:where(.hop-Link--2xl) {
    --font-size: var(--hop-Link-2xl-font-size);
    --font-family: var(--hop-Link-2xl-font-family);
    --font-weight: var(--hop-Link-2xl-font-weight);
    --line-height: var(--hop-Link-2xl-line-height);
}

:where(.hop-Link--inherit) {
    --font-size: var(--hop-Link-inherit-size-font-size);
    --font-family: var(--hop-Link-inherit-size-font-family);
    --font-weight: var(--hop-Link-inherit-size-font-weight);
    --line-height: var(--hop-Link-inherit-size-line-height);
}

/** Focus Ring */
.hop-Link[data-focus-visible] {
    outline: 0.125rem solid var(--hop-Link-focus-ring-color);
}

.hop-Link[data-disabled] {
    cursor: default;
}

.hop-Link--standalone .hop-Link__text {
    padding: var(--hop-Link-padding-standalone);
}

.hop-Link--standalone.hop-Link--xs .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-xs);
}

.hop-Link--standalone.hop-Link--sm .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-sm);
}

.hop-Link--standalone.hop-Link--md .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-md);
}

.hop-Link--standalone.hop-Link--lg .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-lg);
}

.hop-Link--standalone.hop-Link--xl .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-xl);
}

.hop-Link--standalone.hop-Link--2xl .hop-Link__text {
    padding: var(--hop-Link-padding-standalone-2xl);
}

.hop-Link--quiet[data-focus-visible],
.hop-Link--quiet[data-hovered],
.hop-Link--standalone[data-focus-visible],
.hop-Link--standalone[data-hovered] {
    text-decoration: underline;
}

.hop-Link:not(.hop-Link--quiet, .hop-Link--standalone) {
    text-decoration: underline;
}

.hop-Link--primary {
    color: var(--hop-Link-primary-text-color);
}

.hop-Link--primary[data-disabled] {
    color: var(--hop-Link-primary-text-disabled-color);
}

.hop-Link--primary:not([data-disabled])[data-focus-visible],
.hop-Link--primary:not([data-disabled])[data-hovered] {
    color: var(--hop-Link-primary-text-hover-color);
}

.hop-Link--primary:not([data-disabled])[data-pressed] {
    color: var(--hop-Link-primary-text-pressed-color);
}

.hop-Link--secondary {
    color: var(--hop-Link-neutral-text-color);
}

.hop-Link--secondary[data-disabled] {
    color: var(--hop-Link-neutral-text-disabled-color);
}

.hop-Link--secondary:not([data-disabled])[data-focus-visible],
.hop-Link--secondary:not([data-disabled])[data-hovered] {
    color: var(--hop-Link-neutral-text-hover-color);
}

.hop-Link--secondary:not([data-disabled])[data-pressed] {
    color: var(--hop-Link-neutral-text-pressed-color);
}

.hop-Link__icon,
.hop-Link__icon-list {
    order: 2
}

.hop-Link__text {
    order: 1
}

.hop-Link__start-icon,
.hop-Link__start-icon-list {
    order: 0
}
