.hop-SegmentedControl {
    --hop-SegmentedControl-gap: var(--hop-space-inline-xs);
    --hop-SegmentedControl-padding: var(--hop-space-inset-xs);
    --hop-SegmentedControl-width: fit-content;
    --hop-SegmentedControl-background: var(--hop-comp-control-background-color);
    --hop-SegmentedControl-border: 0.0625rem solid var(--hop-comp-control-border-color);
    --hop-SegmentedControl-border-radius: var(--hop-comp-segmented-control-border-radius);
    --hop-SegmentedControl-display: flex;

    display: var(--hop-SegmentedControl-display);
    gap: var(--hop-SegmentedControl-gap);

    inline-size: var(--hop-SegmentedControl-width);
    padding: var(--hop-SegmentedControl-padding);

    background: var(--hop-SegmentedControl-background);
    border: var(--hop-SegmentedControl-border);
    border-radius: var(--hop-SegmentedControl-border-radius);
    box-shadow: var(--hop-comp-segmented-control-box-shadow);
}


