.hop-Select {
    /* Default */
    --hop-Select-row-gap: var(--hop-space-stack-xs);
    --hop-Select-inline-size: 20rem;
    --hop-Select-inline-size-fluid: 100%;
    --hop-Select-max-inline-size: 100%;

    /* Select Button */
    --hop-Select-button-border-size: var(--hop-space-10);
    --hop-Select-button-outline-offset: calc(-1 * var(--hop-space-20));
    --hop-Select-button-cursor: pointer;
    --hop-Select-button-padding-inline: var(--hop-space-inset-md);
    --hop-Select-button-padding-block: 0;
    --hop-Select-button-column-gap: var(--hop-space-inline-sm);
    --hop-Select-button-sm-block-size: 2rem;
    --hop-Select-button-md-block-size: 2.5rem;

    /* Disabled */
    --hop-Select-button-cursor-disabled: not-allowed;

    /* Internal Variables */
    --inline-size: var(--hop-Select-inline-size);
    --button-background-color: var(--hop-comp-input-background-color);
    --button-border-color: var(--hop-comp-input-border-color);
    --button-color: var(--hop-comp-input-text-color);
    --button-icon-color: var(--hop-comp-input-icon-color);
    --button-cursor: var(--hop-Select-button-cursor);

    display: flex;
    flex-direction: column;
    row-gap: var(--hop-Select-row-gap);

    box-sizing: border-box;
    inline-size: var(--inline-size);
    max-inline-size: var(--hop-Select-max-inline-size);
}

.hop-Select--fluid  {
    --inline-size: var(--hop-Select-inline-size-fluid);
}

.hop-Select__label {
    order: 1;
}

/* Select Button */
.hop-Select__button {
    cursor: var(--button-cursor);

    display: flex;
    column-gap: var(--hop-Select-button-column-gap);
    align-items: center;
    order: 2;

    box-sizing: border-box;
    block-size: var(--button-block-size);
    padding-block: var(--hop-Select-button-padding-block);
    padding-inline: var(--hop-Select-button-padding-inline);

    color: var(--button-color);
    text-align: start;

    background-color: var(--button-background-color);
    border: var(--hop-Select-button-border-size) solid var(--button-border-color);
    border-radius: var(--hop-comp-input-border-radius);
    outline: none;
}

.hop-Select__button--sm {
    --button-block-size: var(--hop-Select-button-sm-block-size);
}

.hop-Select__button--md {
    --button-block-size: var(--hop-Select-button-md-block-size);
}

.hop-Select__button[data-hovered] {
    --button-background-color: var(--hop-comp-input-background-color-hover);
    --button-border-color: var(--hop-comp-input-border-color-hover);
    --button-color: var(--hop-comp-select-text-color-hover);
    --button-icon-color: var(--hop-comp-input-icon-color-hover);
}

/**
* Active
* Note: The active state is the pressed state in RAC. Pressed is activated when the dropdown is open.
* This can be viewed here: https://github.com/adobe/react-spectrum/blob/7336849a1ddb754ba264f0adb4a1e898e49e1579/packages/react-aria-components/src/Select.tsx#L170
*/
.hop-Select__button[data-pressed] {
    --button-background-color: var(--hop-comp-select-background-color-active);
    --button-border-color: var(--hop-comp-select-border-color-active);
    --button-color: var(--hop-comp-input-text-color);
    --button-icon-color: var(--hop-comp-input-icon-color);
}

.hop-Select__button[data-invalid] {
    --button-border-color: var(--hop-comp-input-border-color-error);
}

.hop-Select__button[data-focus-visible] {
    --button-background-color: var(--hop-comp-input-background-color-focus);
    --button-border-color: var(--hop-comp-input-border-color-focus);
    --button-color: var(--hop-comp-input-text-color-focus);
    --button-icon-color: var(--hop-comp-input-icon-color-focus);

    outline: var(--hop-Select-button-border-size) solid var(--hop-comp-input-border-color-focus);
    outline-offset: var(--hop-Select-button-outline-offset);
}

.hop-Select__button:has([data-placeholder]) {
    --button-color: var(--hop-comp-input-placeholder-color);
}

.hop-Select__button[data-disabled] {
    --button-background-color: var(--hop-comp-input-background-color-disabled);
    --button-border-color: var(--hop-comp-input-border-color-disabled);
    --button-color: var(--hop-comp-input-text-color-disabled);
    --button-icon-color: var(--hop-comp-input-icon-color-disabled);
    --button-cursor: var(--hop-Select-button-cursor-disabled);
}

.hop-Select__prefix {
    color: var(--hop-comp-input-prefill-color);
}

.hop-Select__button-icon {
    margin-inline-start: auto;
    color: var(--button-icon-color);
}

.hop-Select__helper-message,
.hop-Select__error-message {
    order: 3;
}

.hop-Select__search-input {
    padding: var(--hop-space-inset-sm);
    box-sizing: border-box;
}

.hop-Select__popover {
    font-family: var(--hop-body-md-font-family);
    font-size: var(--hop-body-md-font-size);
    font-weight: var(--hop-body-md-font-weight);
    line-height: var(--hop-body-md-line-height);
    color: var(--hop-neutral-text);
}
