.hop-BaseModal {
    --hop-BaseModal-isolation: isolate;
    --hop-BaseModal-position: fixed;
    --hop-BaseModal-inset: 0;
    --hop-BaseModal-inset-block-start: 0;
    --hop-BaseModal-inset-inline-start: 0;
    --hop-BaseModal-overflow: hidden;
    --hop-BaseModal-display: flex;
    --hop-BaseModal-align-items: center;
    --hop-BaseModal-justify-content: center;
    --hop-BaseModal-inline-size: 100%;
    --hop-BaseModal-block-size: 100%;
    --hop-BaseModal-background-color: #3c3c3c99;
    --hop-BaseModal-z-index: 10000;
    --hop-BaseModal-font-family: var(--hop-body-md-font-family);
    --hop-BaseModal-font-size: var(--hop-body-md-font-size);
    --hop-BaseModal-font-weight: var(--hop-body-md-font-weight);
    --hop-BaseModal-line-height: var(--hop-body-md-line-height);
    --hop-BaseModal-font-smoothing: antialiased;
    --hop-BaseModal-color: var(--hop-neutral-text);

    /* Exiting */
    --hop-BaseModal-entering-opacity: 0;
    --hop-BaseModal-exiting-opacity: 0;

    isolation: var(--hop-BaseModal-isolation);
    position: var(--hop-BaseModal-position);
    z-index: var(--hop-BaseModal-z-index);
    inset: var(--hop-BaseModal-inset);
    inset-block-start: var(--hop-BaseModal-inset-block-start);
    inset-inline-start: var(--hop-BaseModal-inset-inline-start);

    overflow: var(--hop-BaseModal-overflow);
    display: var(--hop-BaseModal-display);
    align-items: var(--hop-BaseModal-align-items);
    justify-content: var(--hop-BaseModal-justify-content);

    inline-size: var(--hop-BaseModal-inline-size);
    block-size: var(--hop-BaseModal-block-size);

    font-family: var(--hop-BaseModal-font-family);
    font-size: var(--hop-BaseModal-font-size);
    font-weight: var(--hop-BaseModal-font-weight);
    -webkit-font-smoothing: var(--hop-BaseModal-font-smoothing);
    line-height: var(--hop-BaseModal-line-height);
    color: var(--hop-BaseModal-color);

    /* hop-rock-800 with a 60% transparency */
    background-color: var(--hop-BaseModal-background-color);

    transition: opacity var(--hop-easing-duration-2) var(--hop-easing-productive);
}

.hop-BaseModal[data-entering] {
    opacity: var(--hop-BaseModal-entering-opacity);
}

.hop-BaseModal[data-exiting] {
    opacity: var(--hop-BaseModal-exiting-opacity);
}

.hop-BaseModal__modal {
    --hop-BaseModal__modal-display: flex;
    --hop-BaseModal__modal-flex-direction: column;
    --hop-BaseModal__modal-max-inline-size: 90dvw;
    --hop-BaseModal__modal-max-block-size: 90dvh;
    --hop-BaseModal__modal-background: var(--hop-neutral-surface);
    --hop-BaseModal__modal-border-radius: var(--hop-shape-rounded-md);

    /* Internal variables */
    --border-radius: var(--hop-BaseModal__modal-border-radius);
    --max-inline-size: var(--hop-BaseModal__modal-max-inline-size);
    --max-block-size: var(--hop-BaseModal__modal-max-block-size);

    display: var(--hop-BaseModal__modal-display);
    flex-direction: var(--hop-BaseModal__modal-flex-direction);

    max-inline-size: var(--max-inline-size);
    max-block-size: var(--max-block-size);

    background: var(--hop-BaseModal__modal-background);
    border-radius: var(--border-radius);
}
