.hop-CustomModal {
    --hop-CustomModal-overflow: auto;
    --hop-CustomModal-box-sizing: border-box;
    --hop-CustomModal-outline: none;
    --hop-CustomModal-color: var(--hop-neutral-text);

    overflow: var(--hop-CustomModal-overflow);

    box-sizing: var(--hop-CustomModal-box-sizing);
    max-block-size: inherit;

    color: var(--hop-CustomModal-color);

    border-radius: inherit;
    outline: var(--hop-CustomModal-outline);
}

/* BaseModal size and animation styling */
.hop-CustomModal__base-modal {
    /* Small */
    --hop-CustomModal__base-modal-sm-width: 28.75rem;

    /* Medium */
    --hop-CustomModal__base-modal-md-width: 36.5rem;

    /* Large */
    --hop-CustomModal__base-modal-lg-width: 41.5rem;

    /* Extra Large */
    --hop-CustomModal__base-modal-xl-width: 50rem;

    /* Fullscreen */
    --hop-CustomModal__base-modal-fullscreen-max-width: none;
    --hop-CustomModal__base-modal-fullscreen-max-height: none;
    --hop-CustomModal__base-modal-fullscreen-width: calc(100dvw - 2.5rem);
    --hop-CustomModal__base-modal-fullscreen-height: calc(100dvh - 2.5rem);

    /* Fullscreentakeover */
    --hop-CustomModal__base-modal-fullscreentakeover-width: 100dvw;
    --hop-CustomModal__base-modal-fullscreentakeover-height: 100dvh;
    --hop-CustomModal__base-modal-fullscreentakeover-border-radius: 0;
    --hop-CustomModal__base-modal-transition: opacity var(--hop-easing-duration-3) ease-in-out var(--hop-easing-duration-2), transform var(--hop-easing-duration-3) ease-in-out var(--hop-easing-duration-2);

    inline-size: var(--width);
    block-size: var(--height);
    transition: var(--hop-CustomModal__base-modal-transition);
}

.hop-CustomModal__base-modal--sm {
    --width: var(--hop-CustomModal__base-modal-sm-width);
}

.hop-CustomModal__base-modal--md {
    --width: var(--hop-CustomModal__base-modal-md-width);
}

.hop-CustomModal__base-modal--lg {
    --width: var(--hop-CustomModal__base-modal-lg-width);
}

.hop-CustomModal__base-modal--xl {
    --width: var(--hop-CustomModal__base-modal-xl-width);
}

.hop-CustomModal__base-modal--fullscreen {
    --width: var(--hop-CustomModal__base-modal-fullscreen-width);
    --height: var(--hop-CustomModal__base-modal-fullscreen-height);
}

.hop-CustomModal__base-modal--fullscreentakeover {
    --width: var(--hop-CustomModal__base-modal-fullscreentakeover-width);
    --height: var(--hop-CustomModal__base-modal-fullscreentakeover-height);
    --border-radius: var(--hop-CustomModal__base-modal-fullscreentakeover-border-radius);
}

.hop-CustomModal__base-modal--fullscreen,
.hop-CustomModal__base-modal--fullscreentakeover {
    --max-inline-size: var(--hop-CustomModal__base-modal-fullscreen-max-width);
    --max-block-size: var(--hop-CustomModal__base-modal-fullscreen-max-height);
}
