.hop-Modal {
    --hop-Modal-position: relative;
    --hop-Modal-overflow: auto;
    --hop-Modal-display: grid;
    --hop-Modal-box-sizing: border-box;
    --hop-Modal-outline: none;
    --hop-Modal-margin: var(--hop-space-inset-lg);
    --hop-Modal-color: var(--hop-neutral-text);
    --hop-Modal-grid-template:
        "image image" 12rem
        "top top" auto
        "content content" auto
        "bottom bottom" auto
        / auto auto;

    /* Content */
    --hop-Modal-content-font-size: var(--hop-body-sm-font-size);
    --hop-Modal-content-font-family: var(--hop-body-sm-font-family);
    --hop-Modal-content-font-weight: var(--hop-body-sm-font-weight);
    --hop-Modal-content-line-height: var(--hop-body-sm-line-height);

    /* Large screen */
    --hop-Modal-large-grid-template:
        "image top" auto
        "image content" 1fr
        "image bottom" auto
        / 16rem auto;

    /* Internal variables */
    --grid-template: var(--hop-Modal-grid-template);

    position: var(--hop-Modal-position);

    overflow: var(--hop-Modal-overflow);
    display: var(--hop-Modal-display);
    grid-template: var(--grid-template);

    box-sizing: var(--hop-Modal-box-sizing);
    max-block-size: inherit;

    color: var(--hop-Modal-color);

    border-radius: inherit;
    outline: var(--hop-Modal-outline);
}

.hop-Modal__top-container {
    display: grid;
    grid-area: top;
    grid-template:
        "heading header" auto
        / 1fr auto;
}

.hop-Modal__bottom-container {
    display: grid;
    grid-area: bottom;
    grid-template:
        "footer buttons" auto
        / 1fr auto;
}

.hop-Modal:not(.hop-Modal--has-image) {
    --grid-template:
        "top top" auto
        "content content" 1fr
        "bottom bottom" auto
        / auto auto;
}

@media screen and (min-width: 49rem) {
    /* stylelint-disable-next-line selector-class-pattern */
    .hop-Modal:not(.hop-Modal--has-image, .hop-Modal--fullscreen, .hop-Modal--fullscreenTakeover) {
        --grid-template:
            "top top" auto
            "content content" auto
            "bottom bottom" auto
            / auto auto;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .hop-Modal.hop-Modal--has-image:not(.hop-Modal--fullscreen, .hop-Modal--fullscreenTakeover) {
        --grid-template: var(--hop-Modal-large-grid-template);
    }
}

.hop-Modal__close {
    position: absolute;
    inset-block-start: var(--hop-Modal-margin);
    inset-inline-end: var(--hop-Modal-margin);;
}

.hop-Modal > .hop-Modal__image {
    --hop-Modal-image-inline-size: 100%;
    --hop-Modal-image-block-size: 100%;
    --hop-Modal-image-object-fit: cover;

    grid-area: image;
    inline-size: var(--hop-Modal-image-inline-size);
    block-size: var(--hop-Modal-image-block-size);
    object-fit: var(--hop-Modal-image-object-fit);
}

.hop-Modal__heading {
    grid-area: heading;
    margin-block-start: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__header {
    grid-area: header;
    place-self: center end;
    margin-block-start: var(--hop-Modal-margin);
    margin-inline-start: var(--hop-Modal-margin);
}

.hop-Modal__content {
    overflow-y: auto;
    grid-area: content;

    margin: var(--hop-Modal-margin);

    font-family: var(--hop-Modal-content-font-family);
    font-size: var(--hop-Modal-content-font-size);
    font-weight: var(--hop-Modal-content-font-weight);
    line-height: var(--hop-Modal-content-line-height);

}

@media (max-height: 24rem) {
    .hop-Modal__content {
        overflow-y: visible;
    }
}

.hop-Modal__footer {
    grid-area: footer;
    align-self: center;
    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__button {
    grid-area: buttons;
    place-self: center end;
    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__button-group {
    grid-area: buttons;
    flex-wrap: nowrap;
    place-self: center end;

    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

/* If there's a close button, add right margin to the header and heading */
.hop-Modal:has(.hop-Modal__close) > .hop-Modal__top-container {
    margin-inline-end: calc(var(--hop-Modal-margin) + var(--hop-space-inline-md) + 1.5rem);
}

.hop-Modal.hop-Modal--has-image:has(.hop-Modal__close).hop-Modal--fullscreen > .hop-Modal__top-container,
/* stylelint-disable-next-line selector-class-pattern */
.hop-Modal.hop-Modal--has-image:has(.hop-Modal__close).hop-Modal--fullscreenTakeover > .hop-Modal__top-container {
    margin-inline-end: var(--hop-Modal-margin);
}

/* On a small screen, if there's an image and a close button, remove the right margin */
@media screen and (max-width: 48rem)  {
    .hop-Modal:has(.hop-Modal__close).hop-Modal--has-image > .hop-Modal__header,
    .hop-Modal:has(.hop-Modal__close).hop-Modal--has-image > .hop-Modal__heading  {
        margin-inline-end: var(--hop-Modal-margin);
    }
}

.hop-Modal__top-container:has(> .hop-Modal__header) > .hop-Modal__heading {
    margin-inline-end: 0;
}

.hop-Modal__bottom-container:has(> .hop-Modal__button) > .hop-Modal__footer,
.hop-Modal__bottom-container:has(> .hop-Modal__button-group) > .hop-Modal__footer {
    margin-inline-end: 0;
}

/* BaseModal size and animation styling */
.hop-Modal__base-modal {
    /* Small */
    --hop-Modal__base-modal-sm-width: 28.75rem;

    /* Medium */
    --hop-Modal__base-modal-md-width: 36.5rem;

    /* Large */
    --hop-Modal__base-modal-lg-width: 41.5rem;

    /* Extra Large */
    --hop-Modal__base-modal-xl-width: 50rem;

    /* Fullscreen */
    --hop-Modal__base-modal-fullscreen-max-width: none;
    --hop-Modal__base-modal-fullscreen-max-height: none;
    --hop-Modal__base-modal-fullscreen-width: calc(100dvw - 2.5rem);
    --hop-Modal__base-modal-fullscreen-height: calc(100dvh - 2.5rem);

    /* Fullscreentakeover */
    --hop-Modal__base-modal-fullscreentakeover-width: 100dvw;
    --hop-Modal__base-modal-fullscreentakeover-height: 100dvh;
    --hop-Modal__base-modal-fullscreentakeover-border-radius: 0;

    /* Internal variable */
    --image-size: 0rem;
    --hop-Modal__base-modal-transition: opacity var(--hop-easing-duration-3) ease-in-out var(--hop-easing-duration-2), transform var(--hop-easing-duration-3) ease-in-out var(--hop-easing-duration-2);

    /* Entering */
    --hop-Modal__base-modal-entering-opacity: 0;
    --hop-Modal__base-modal-entering-transform: translateY(1.25rem);

    /* Exiting */
    --hop-Modal__base-modal-exiting-opacity: 0;
    --hop-Modal__base-modal-exiting-transition: opacity var(--hop-easing-duration-1) ease-in-out 0, transform var(--hop-easing-duration-1) ease-in-out 0;

    inline-size: var(--width);
    block-size: var(--height);
    transition: var(--hop-Modal__base-modal-transition);
}

@media screen and (min-width: 48rem) {
    .hop-Modal__base-modal--has-image {
        --image-size: 16rem;
    }
}

.hop-Modal__base-modal--sm {
    --width: calc(var(--image-size) + var(--hop-Modal__base-modal-sm-width));
}

.hop-Modal__base-modal--md {
    --width: calc(var(--image-size) + var(--hop-Modal__base-modal-md-width));
}

.hop-Modal__base-modal--lg {
    --width: calc(var(--image-size) + var(--hop-Modal__base-modal-lg-width));
}

.hop-Modal__base-modal--xl {
    --width: calc(var(--image-size) + var(--hop-Modal__base-modal-xl-width));
}

.hop-Modal__base-modal--fullscreen {
    --width: var(--hop-Modal__base-modal-fullscreen-width);
    --height: var(--hop-Modal__base-modal-fullscreen-height);
}

/* stylelint-disable-next-line selector-class-pattern */
.hop-Modal__base-modal--fullscreenTakeover {
    --width: var(--hop-Modal__base-modal-fullscreentakeover-width);
    --height: var(--hop-Modal__base-modal-fullscreentakeover-height);
    --border-radius: var(--hop-Modal__base-modal-fullscreentakeover-border-radius);
}

.hop-Modal__base-modal--fullscreen,
/* stylelint-disable-next-line selector-class-pattern */
.hop-Modal__base-modal--fullscreenTakeover {
    --max-inline-size: var(--hop-Modal__base-modal-fullscreen-max-width);
    --max-block-size: var(--hop-Modal__base-modal-fullscreen-max-height);
}

.hop-Modal__overlay[data-entering] .hop-Modal__base-modal {
    transform: var(--hop-Modal__base-modal-entering-transform);
    opacity: var(--hop-Modal__base-modal-entering-opacity);
}

.hop-Modal__overlay[data-exiting] .hop-Modal__base-modal {
    opacity: var(--hop-Modal__base-modal-exiting-opacity);
    transition: var(--hop-Modal__base-modal-exiting-transition);
}

.hop-Modal__overlay[data-entering]:has(.hop-Modal__base-modal) {
    opacity: 0;
    transition: opacity var(--hop-easing-duration-2) var(--hop-easing-productive);
}

.hop-Modal__overlay[data-exiting]:has(.hop-Modal__base-modal) {
    opacity: 0;
    transition: opacity var(--hop-easing-duration-2) var(--hop-easing-productive);
}
