.hop-Modal {
    --hop-Modal-position: relative;
    --hop-Modal-overflow: auto;
    --hop-Modal-display: grid;
    --hop-Modal-box-sizing: border-box;
    --hop-Modal-outline: none;
    --hop-Modal-margin: var(--hop-space-inset-lg);
    --hop-Modal-color: var(--hop-neutral-text);
    --hop-Modal-grid-template:
        "image image" 12rem
        "top top" auto
        "content content" auto
        "bottom bottom" auto
        / auto auto;

    /* Content */
    --hop-Modal-content-font-size: var(--hop-body-sm-font-size);
    --hop-Modal-content-font-family: var(--hop-body-sm-font-family);
    --hop-Modal-content-font-weight: var(--hop-body-sm-font-weight);
    --hop-Modal-content-line-height: var(--hop-body-sm-line-height);

    /* Large screen */
    --hop-Modal-large-grid-template:
        "image top" auto
        "image content" 1fr
        "image bottom" auto
        / 16rem auto;

    /* Internal variables */
    --grid-template: var(--hop-Modal-grid-template);

    position: var(--hop-Modal-position);

    overflow: var(--hop-Modal-overflow);
    display: var(--hop-Modal-display);
    grid-template: var(--grid-template);

    box-sizing: var(--hop-Modal-box-sizing);
    max-block-size: inherit;

    color: var(--hop-Modal-color);

    border-radius: inherit;
    outline: var(--hop-Modal-outline);
}

.hop-Modal__top-container {
    display: grid;
    grid-area: top;
    grid-template:
        "heading header" auto
        / 1fr auto;
}

.hop-Modal__bottom-container {
    display: grid;
    grid-area: bottom;
    grid-template:
        "footer buttons" auto
        / 1fr auto;
}

.hop-Modal:not(.hop-Modal--has-image) {
    --grid-template:
        "top top" auto
        "content content" 1fr
        "bottom bottom" auto
        / auto auto;
}

@media screen and (min-width: 49rem) {
    /* stylelint-disable-next-line selector-class-pattern */
    .hop-Modal:not(.hop-Modal--has-image, .hop-Modal--fullscreen, .hop-Modal--fullscreenTakeover) {
        --grid-template:
            "top top" auto
            "content content" auto
            "bottom bottom" auto
            / auto auto;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .hop-Modal.hop-Modal--has-image:not(.hop-Modal--fullscreen, .hop-Modal--fullscreenTakeover) {
        --grid-template: var(--hop-Modal-large-grid-template);
    }
}

.hop-Modal__close {
    position: absolute;
    inset-block-start: var(--hop-Modal-margin);
    inset-inline-end: var(--hop-Modal-margin);;
}

.hop-Modal > .hop-Modal__image {
    --hop-Modal-image-inline-size: 100%;
    --hop-Modal-image-block-size: 100%;
    --hop-Modal-image-object-fit: cover;

    grid-area: image;
    inline-size: var(--hop-Modal-image-inline-size);
    block-size: var(--hop-Modal-image-block-size);
    object-fit: var(--hop-Modal-image-object-fit);
}

.hop-Modal__heading {
    grid-area: heading;
    margin-block-start: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__header {
    grid-area: header;
    place-self: center end;
    margin-block-start: var(--hop-Modal-margin);
    margin-inline-start: var(--hop-Modal-margin);
}

.hop-Modal__content {
    overflow-y: auto;
    grid-area: content;

    margin: var(--hop-Modal-margin);

    font-family: var(--hop-Modal-content-font-family);
    font-size: var(--hop-Modal-content-font-size);
    font-weight: var(--hop-Modal-content-font-weight);
    line-height: var(--hop-Modal-content-line-height);

}

@media (max-height: 24rem) {
    .hop-Modal__content {
        overflow-y: visible;
    }
}

.hop-Modal__footer {
    grid-area: footer;
    align-self: center;
    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__button {
    grid-area: buttons;
    place-self: center end;
    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

.hop-Modal__button-group {
    grid-area: buttons;
    flex-wrap: nowrap;
    place-self: center end;

    margin-block-end: var(--hop-Modal-margin);
    margin-inline: var(--hop-Modal-margin);
}

/* If there's a close button, add right margin to the header and heading */
.hop-Modal:has(.hop-Modal__close) > .hop-Modal__top-container {
    margin-inline-end: calc(var(--hop-Modal-margin) + var(--hop-space-inline-md));
}

.hop-Modal.hop-Modal--has-image:has(.hop-Modal__close).hop-Modal--fullscreen > .hop-Modal__top-container,
/* stylelint-disable-next-line selector-class-pattern */
.hop-Modal.hop-Modal--has-image:has(.hop-Modal__close).hop-Modal--fullscreenTakeover > .hop-Modal__top-container {
    margin-inline-end: 0;
}

/* On a small screen, if there's an image and a close button, remove the right margin */
@media screen and (max-width: 48rem)  {
    .hop-Modal:has(.hop-Modal__close).hop-Modal--has-image > .hop-Modal__header,
    .hop-Modal:has(.hop-Modal__close).hop-Modal--has-image > .hop-Modal__heading  {
        margin-inline-end: var(--hop-Modal-margin);
    }
}

.hop-Modal__top-container:has(> .hop-Modal__header) > .hop-Modal__heading {
    margin-inline-end: 0;
}

.hop-Modal__bottom-container:has(> .hop-Modal__button) > .hop-Modal__footer,
.hop-Modal__bottom-container:has(> .hop-Modal__button-group) > .hop-Modal__footer {
    margin-inline-end: 0;
}
