.hop-Callout {
    /* Default */
    --hop-Callout-padding: var(--hop-space-inset-md);
    --hop-Callout-display: grid;
    --hop-Callout-align-items: flex-start;
    --hop-Callout-border-radius: var(--hop-comp-callout-border-radius);
    --hop-Callout-border-width: 0.0625rem;
    --hop-Callout-border-style: solid;
    --hop-Callout-grid-template-areas:
        "icon heading dismiss"
        "icon content dismiss"
        "icon button dismiss";
    --hop-Callout-grid-template-columns: auto 1fr auto;
    --hop-Callout-margin-right-icon: var(--hop-space-inline-md);
    --hop-Callout-margin-top-content: var(--hop-space-stack-xs);
    --hop-Callout-margin-top-button: var(--hop-space-stack-md);

    /* Heading */
    --hop-Callout-heading-font-size: var(--hop-body-sm-font-size);
    --hop-Callout-heading-font-family: var(--hop-body-sm-font-family);
    --hop-Callout-heading-font-weight: var(--hop-body-sm-semibold-font-weight);
    --hop-Callout-heading-line-height: var(--hop-body-sm-line-height);

    /* Content */
    --hop-Callout-content-font-size: var(--hop-body-sm-font-size);
    --hop-Callout-content-font-family: var(--hop-body-sm-font-family);
    --hop-Callout-content-font-weight: var(--hop-body-sm-font-weight);
    --hop-Callout-content-line-height: var(--hop-body-sm-line-height);

    /* Information */
    --hop-Callout-border-information: var(--hop-Callout-border-width) var(--hop-Callout-border-style) var(--hop-comp-callout-information-border-color);
    --hop-Callout-background-information: var(--hop-comp-callout-information-background-color);
    --hop-Callout-color-information: var(--hop-comp-callout-information-text-color);

    /* Success */
    --hop-Callout-border-success: var(--hop-Callout-border-width) var(--hop-Callout-border-style) var(--hop-comp-callout-success-border-color);
    --hop-Callout-background-success: var(--hop-comp-callout-success-background-color);
    --hop-Callout-color-success: var(--hop-comp-callout-success-text-color);

    /* Warning */
    --hop-Callout-border-warning: var(--hop-Callout-border-width) var(--hop-Callout-border-style) var(--hop-comp-callout-warning-border-color);
    --hop-Callout-background-warning: var(--hop-comp-callout-warning-background-color);
    --hop-Callout-color-warning: var(--hop-comp-callout-warning-text-color);

    /* Upsell */
    --hop-Callout-border-upsell: var(--hop-Callout-border-width) var(--hop-Callout-border-style) var(--hop-comp-callout-upsell-border-color);
    --hop-Callout-background-upsell: var(--hop-comp-callout-upsell-background-color);
    --hop-Callout-color-upsell: var(--hop-comp-callout-upsell-text-color);

    /* Subtle */
    --hop-Callout-border-subtle: transparent;

    display: var(--hop-Callout-display);
    grid-template-areas: var(--hop-Callout-grid-template-areas);
    grid-template-columns: var(--hop-Callout-grid-template-columns);
    align-items: var(--hop-Callout-align-items);

    padding: var(--hop-Callout-padding);

    background: var(--background);
    border: var(--border);
    border-radius: var(--hop-Callout-border-radius);
}

.hop-Callout__icon {
    grid-area: icon;
    margin-inline-end: var(--hop-Callout-margin-right-icon);
}

.hop-Callout__heading {
    grid-area: heading;
    color: var(--color);
}

:where(.hop-Callout__heading) {
    font-family: var(--hop-Callout-heading-font-family);
    font-size: var(--hop-Callout-heading-font-size);
    font-weight: var(--hop-Callout-heading-font-weight);
    line-height: var(--hop-Callout-heading-line-height);
}

.hop-Callout__content {
    grid-area: content;

    font-family: var(--hop-Callout-content-font-family);
    font-size: var(--hop-Callout-content-font-size);
    font-weight: var(--hop-Callout-content-font-weight);
    line-height: var(--hop-Callout-content-line-height);
    color: var(--color);
}

.hop-Callout:has(.hop-Callout__heading) .hop-Callout__content {
    margin-block-start: var(--hop-Callout-margin-top-content);
}

.hop-Callout__button {
    grid-area: button;
    margin-block-start: var(--hop-Callout-margin-top-button);
}

.hop-Callout__dismiss {
    grid-area: dismiss;
}

.hop-Callout--information {
    --border: var(--hop-Callout-border-information);
    --background: var(--hop-Callout-background-information);
    --color: var(--hop-Callout-color-information);
}

.hop-Callout--success {
    --border: var(--hop-Callout-border-success);
    --background: var(--hop-Callout-background-success);
    --color: var(--hop-Callout-color-success);
}

.hop-Callout--warning {
    --border: var(--hop-Callout-border-warning);
    --background: var(--hop-Callout-background-warning);
    --color: var(--hop-Callout-color-warning);
}

.hop-Callout--upsell {
    --border: var(--hop-Callout-border-upsell);
    --background: var(--hop-Callout-background-upsell);
    --color: var(--hop-Callout-color-upsell);
}

.hop-Callout--subtle-fill {
    --border: var(--hop-Callout-border-subtle);
}
