.hop-CompactCallout {
    /* Default */
    --hop-CompactCallout-padding-y: var(--hop-space-inset-sm);
    --hop-CompactCallout-padding-x: var(--hop-space-inset-md);
    --hop-CompactCallout-display: grid;
    --hop-CompactCallout-align-items: center;
    --hop-CompactCallout-border-radius: var(--hop-comp-callout-border-radius);
    --hop-CompactCallout-border-width: 0.0625rem;
    --hop-CompactCallout-border-style: solid;
    --hop-CompactCallout-grid-template: "content cta" 1fr / 1fr auto;
    --hop-CompactCallout-grid-template-dismissable: "content cta dismiss" 1fr / 1fr auto auto;
    --hop-CompactCallout-gap: var(--hop-space-inline-md);
    --hop-CompactCallout-font-size: var(--hop-body-sm-font-size);
    --hop-CompactCallout-font-weight: var(--hop-body-sm-font-weight);
    --hop-CompactCallout-font-family: var(--hop-body-sm-font-family);
    --hop-CompactCallout-line-height: var(--hop-body-sm-line-height);
    --hop-CompactCallout-min-block-size: var(--hop-space-480);

    /* Information */
    --hop-CompactCallout-border-information: var(--hop-CompactCallout-border-width) var(--hop-CompactCallout-border-style) var(--hop-comp-callout-information-border-color);
    --hop-CompactCallout-background-information: var(--hop-comp-callout-information-background-color);
    --hop-CompactCallout-color-information: var(--hop-comp-callout-information-text-color);

    /* Success */
    --hop-CompactCallout-border-success: var(--hop-CompactCallout-border-width) var(--hop-CompactCallout-border-style) var(--hop-comp-callout-success-border-color);
    --hop-CompactCallout-background-success: var(--hop-comp-callout-success-background-color);
    --hop-CompactCallout-color-success: var(--hop-comp-callout-success-text-color);

    /* Warning */
    --hop-CompactCallout-border-warning: var(--hop-CompactCallout-border-width) var(--hop-CompactCallout-border-style) var(--hop-comp-callout-warning-border-color);
    --hop-CompactCallout-background-warning: var(--hop-comp-callout-warning-background-color);
    --hop-CompactCallout-color-warning: var(--hop-comp-callout-warning-text-color);

    /* Upsell */
    --hop-CompactCallout-border-upsell: var(--hop-CompactCallout-border-width) var(--hop-CompactCallout-border-style) var(--hop-comp-callout-upsell-border-color);
    --hop-CompactCallout-background-upsell: var(--hop-comp-callout-upsell-background-color);
    --hop-CompactCallout-color-upsell: var(--hop-comp-callout-upsell-text-color);

    /* Subtle */
    --hop-CompactCallout-border-subtle: transparent;

    /* Internal Variables */
    --grid-template: var(--hop-CompactCallout-grid-template);

    display: var(--hop-CompactCallout-display);
    grid-template: var(--grid-template);
    column-gap: var(--hop-CompactCallout-gap);
    align-items: var(--hop-CompactCallout-align-items);

    box-sizing: border-box;
    min-block-size: var(--hop-CompactCallout-min-block-size);
    padding: var(--hop-CompactCallout-padding-y) var(--hop-CompactCallout-padding-x);

    font-family: var(--hop-CompactCallout-font-family);
    font-size: var(--hop-CompactCallout-font-size);
    font-weight: var(--hop-CompactCallout-font-weight);
    line-height: var(--hop-CompactCallout-line-height);

    background: var(--background);
    border: var(--border);
    border-radius: var(--hop-CompactCallout-border-radius);
}

.hop-CompactCallout--dismissable {
    --grid-template: var(--hop-CompactCallout-grid-template-dismissable);
}

.hop-CompactCallout__content {
    grid-area: content;
    color: var(--color);
}

.hop-CompactCallout__button {
    grid-area: cta;
}

.hop-CompactCallout__link {
    grid-area: cta;
}

.hop-CompactCallout__dismiss {
    grid-area: dismiss;
}

.hop-CompactCallout--information {
    --border: var(--hop-CompactCallout-border-information);
    --background: var(--hop-CompactCallout-background-information);
    --color: var(--hop-CompactCallout-color-information);
}

.hop-CompactCallout--success {
    --border: var(--hop-CompactCallout-border-success);
    --background: var(--hop-CompactCallout-background-success);
    --color: var(--hop-CompactCallout-color-success);
}

.hop-CompactCallout--warning {
    --border: var(--hop-CompactCallout-border-warning);
    --background: var(--hop-CompactCallout-background-warning);
    --color: var(--hop-CompactCallout-color-warning);
}

.hop-CompactCallout--upsell {
    --border: var(--hop-CompactCallout-border-upsell);
    --background: var(--hop-CompactCallout-background-upsell);
    --color: var(--hop-CompactCallout-color-upsell);
}

.hop-CompactCallout--subtle-fill {
    --border: var(--hop-CompactCallout-border-subtle);
}
