.hop-Calendar  {
    --hop-Calendar-display: flex;
    --hop-Calendar-flex-direction: column;
    --hop-Calendar-gap: var(--hop-space-stack-xs);
    --hop-Calendar-inline-size: fit-content;

    display: var(--hop-Calendar-display);
    flex-direction: var(--hop-Calendar-flex-direction);
    gap: var(--hop-Calendar-gap);
    inline-size: var(--hop-Calendar-inline-size);
}

.hop-Calendar__grids {
    --hop-Calendar__grids-display: flex;
    --hop-Calendar__grids-flex-direction: row;
    --hop-Calendar__grids-row-gap: var(--hop-space-stack-lg);
    --hop-Calendar__grids-column-gap: var(--hop-space-stack-md);
    --hop-Calendar__grids-align-items: start;
    --hop-Calendar__grids-inline-size: 100%;
    --hop-Calendar__grids-flex-wrap: wrap;
    --hop-Calendar__grids-justify-content: center;

    display: var(--hop-Calendar__grids-display);
    flex-flow: var(--hop-Calendar__grids-flex-direction) var(--hop-Calendar__grids-flex-wrap);
    gap: var(--hop-Calendar__grids-row-gap) var(--hop-Calendar__grids-column-gap);
    align-items: var(--hop-Calendar__grids-align-items);
    justify-content: var(--hop-Calendar__grids-justify-content);

    inline-size: var(--hop-Calendar__grids-inline-size);
}

.hop-Calendar__error-message {
    --hop-Calendar__error-message-margin-block-start: var(--hop-space-stack-sm);

    margin-block-start: var(--hop-Calendar__error-message-margin-block-start);
}
