.hop-Badge  {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: max-content;
    block-size: 1.5rem;
    padding-inline: var(--hop-space-inset-sm);

    border-radius: var(--hop-shape-pill);
}

.hop-Badge--primary {
    background: var(--hop-comp-badge-primary-background);
    color: var(--hop-comp-badge-primary-text-color);
}

.hop-Badge--primary[data-hovered] {
    background: var(--hop-comp-badge-primary-background-hover);
    color: var(--hop-comp-badge-primary-text-color-hover);
}

.hop-Badge--primary[data-pressed] {
    background: var(--hop-comp-badge-primary-background-press);
    color: var(--hop-comp-badge-primary-text-color-press);
}

.hop-Badge--primary[data-selected] {
    background: var(--hop-comp-badge-primary-background-selected);
    color: var(--hop-comp-badge-primary-text-color-selected);
}

.hop-Badge--secondary {
    background: var(--hop-comp-badge-secondary-background);
    color: var(--hop-comp-badge-secondary-text-color);
}

.hop-Badge--secondary[data-hovered] {
    background: var(--hop-comp-badge-secondary-background-hover);
    color: var(--hop-comp-badge-secondary-text-color-hover);
}

.hop-Badge--secondary[data-pressed] {
    background: var(--hop-comp-badge-secondary-background-press);
    color: var(--hop-comp-badge-secondary-text-color-press);
}

.hop-Badge--secondary[data-selected] {
    background: var(--hop-comp-badge-secondary-background-selected);
    color: var(--hop-comp-badge-secondary-text-color-selected);
}

.hop-Badge--subdued {
    background: var(--hop-comp-badge-subdued-background);
    color: var(--hop-comp-badge-subdued-text-color);
}

.hop-Badge--subdued[data-hovered] {
    background: var(--hop-comp-badge-subdued-background-hover);
    color: var(--hop-comp-badge-subdued-text-color-hover);
}

.hop-Badge--subdued[data-pressed] {
    background: var(--hop-comp-badge-subdued-background-press);
    color: var(--hop-comp-badge-subdued-text-color-press);
}

.hop-Badge--subdued[data-selected] {
    background: var(--hop-comp-badge-subdued-background-selected);
    color: var(--hop-comp-badge-subdued-text-color-selected);
}

.hop-Badge[data-indeterminate] {
    border-radius: var(--hop-shape-circle);
    block-size: 1rem;
    inline-size: 1rem;
    padding-inline: 0;
}

.hop-Badge[data-disabled] {
    background: var(--hop-comp-badge-disabled-background);
    color: var(--hop-comp-badge-disabled-text-color);
}
