.hop-Badge  {
    /* Default */
    --hop-Badge-height: 1.5rem;
    --hop-Badge-width: max-content;
    --hop-Badge-padding-inline: var(--hop-space-inset-sm);

    /* Indeterminate */
    --hop-Badge-indeterminate-height: 1rem;
    --hop-Badge-indeterminate-width: 1rem;
    --hop-Badge-indeterminate-padding-inline: 0;

    /* Internal Variables */
    --height: var(--hop-Badge-height);
    --width: var(--hop-Badge-width);
    --padding-inline: var(--hop-Badge-padding-inline);
    --border-radius: var(--hop-comp-badge-border-radius);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--width);
    block-size: var(--height);
    padding-inline: var(--padding-inline);

    color: var(--text-color, var(--hop-comp-badge-primary-text-color));

    background-color: var(--background-color, var(--hop-comp-badge-primary-background-color));
    border-radius: var(--border-radius);
}

.hop-Badge--primary {
    --background-color: var(--hop-comp-badge-primary-background-color);
    --text-color: var(--hop-comp-badge-primary-text-color);
}

.hop-Badge--primary[data-hovered] {
    --background-color: var(--hop-comp-badge-primary-background-color-hover);
    --text-color: var(--hop-comp-badge-primary-text-color-hover);
}

.hop-Badge--primary[data-pressed] {
    --background-color: var(--hop-comp-badge-primary-background-color-press);
    --text-color: var(--hop-comp-badge-primary-text-color-press);
}

.hop-Badge--primary[data-selected] {
    --background-color: var(--hop-comp-badge-primary-background-color-selected);
    --text-color: var(--hop-comp-badge-primary-text-color-selected);
}

.hop-Badge--secondary {
    --background-color: var(--hop-comp-badge-secondary-background-color);
    --text-color: var(--hop-comp-badge-secondary-text-color);
}

.hop-Badge--secondary[data-hovered] {
    --background-color: var(--hop-comp-badge-secondary-background-color-hover);
    --text-color: var(--hop-comp-badge-secondary-text-color-hover);
}

.hop-Badge--secondary[data-pressed] {
    --background-color: var(--hop-comp-badge-secondary-background-color-press);
    --text-color: var(--hop-comp-badge-secondary-text-color-press);
}

.hop-Badge--secondary[data-selected] {
    --background-color: var(--hop-comp-badge-secondary-background-color-selected);
    --text-color: var(--hop-comp-badge-secondary-text-color-selected);
}

.hop-Badge--subdued {
    --background-color: var(--hop-comp-badge-subdued-background-color);
    --text-color: var(--hop-comp-badge-subdued-text-color);
}

.hop-Badge--subdued[data-hovered] {
    --background-color: var(--hop-comp-badge-subdued-background-color-hover);
    --text-color: var(--hop-comp-badge-subdued-text-color-hover);
}

.hop-Badge--subdued[data-pressed] {
    --background-color: var(--hop-comp-badge-subdued-background-color-press);
    --text-color: var(--hop-comp-badge-subdued-text-color-press);
}

.hop-Badge--subdued[data-selected] {
    --background-color: var(--hop-comp-badge-subdued-background-color-selected);
    --text-color: var(--hop-comp-badge-subdued-text-color-selected);
}

.hop-Badge[data-indeterminate] {
    --border-radius: var(--hop-comp-badge-indeterminate-border-radius);
    --height: var(--hop-Badge-indeterminate-height);
    --width: var(--hop-Badge-indeterminate-width);
    --padding-inline: var(--hop-Badge-indeterminate-padding-inline);
}

.hop-Badge[data-disabled] {
    --background-color: var(--hop-comp-badge-disabled-background-color);
    --text-color: var(--hop-comp-badge-disabled-text-color);
}
