.hop-Tile {
    /* Default */
    --hop-Tile-border-witdh: 0.0625rem;
    --hop-Tile-border-style: solid;
    --hop-Tile-cursor: pointer;
    --hop-Tile-outline-offset: 0rem;
    --hop-Tile-outline-color: var(--hop-comp-tile-outline-color);
    --hop-Tile-outline-width: var(--hop-space-20);
    --hop-Tile-display: grid;
    --hop-Tile-grid-template:
        "image" auto
        "container" 1fr
        / auto;

    /* Disabled */
    --hop-Tile-cursor-disabled: auto;

    /* Readonly */
    --hop-Tile-cursor-readonly: auto;

    /* Icon */
    --hop-Tile-color-icon: transparent;

    /* Internal variables */
    --color: var(--hop-comp-tile-text-color);
    --background: var(--hop-comp-tile-background-color);
    --border-color: var(--hop-comp-tile-border-color);
    --cursor: var(--hop-Tile-cursor);

    cursor: var(--cursor);

    display: var(--hop-Tile-display);
    grid-template: var(--hop-Tile-grid-template);

    color: var(--color);

    background: var(--background);
    border: var(--hop-Tile-border-witdh) var(--hop-Tile-border-style) var(--border-color);
    border-radius: var(--hop-comp-tile-border-radius);
    outline: var(--hop-Tile-outline-offset) solid var(--hop-Tile-outline-color);
    outline-width: var(--hop-Tile-outline-width);
}

.hop-Tile--horizontal {
    --hop-Tile-horizontal-align-items: center;
    --hop-Tile-grid-template: "image container" / 8rem auto;

    align-items: var(--hop-Tile-horizontal-align-items);
}

.hop-Tile[data-hovered] {
    --color: var(--hop-comp-tile-hover-text-color);
    --background: var(--hop-comp-tile-hover-background-color);
    --border-color: var(--hop-comp-tile-hover-border-color);
}

.hop-Tile[data-pressed] {
    --color: var(--hop-comp-tile-press-text-color);
    --background: var(--hop-comp-tile-press-background-color);
    --border-color: var(--hop-comp-tile-press-border-color);
}

.hop-Tile[data-focus-visible] {
    --color: var(--hop-comp-tile-focus-text-color);
    --background: var(--hop-comp-tile-focus-background-color);
    --hop-Tile-outline-color: var(--hop-comp-tile-focus-outline-color);
    --border-color: var(--hop-comp-tile-focus-border-color);
}

.hop-Tile[data-selected] {
    --color: var(--hop-comp-tile-selected-text-color);
    --background: var(--hop-comp-tile-selected-background-color);
    --border-color: var(--hop-comp-tile-selected-border-color);
    --hop-Tile-outline-color: var(--hop-comp-tile-selected-outline-color);
    --hop-Tile-color-icon: var(--hop-comp-tile-selected-icon-color);
}

.hop-Tile[data-disabled]:not(.hop-Tile--readonly) {
    --color: var(--hop-comp-tile-disabled-text-color);
    --background: var(--hop-comp-tile-disabled-background-color);
    --border-color: var(--hop-comp-tile-disabled-border-color);
    --hop-Tile-outline-color: var(--hop-comp-tile-disabled-outline-color);
    --cursor: var(--hop-Tile-cursor-disabled);
}

.hop-Tile--readonly {
    --cursor: var(--hop-Tile-cursor-readonly);
}

.hop-Tile[data-disabled][data-selected] {
    --hop-Tile-color-icon: var(--hop-comp-tile-disabled-icon-color)
}

.hop-Tile__image, .hop-Tile__illustration {
    grid-area: image;
}

.hop-Tile--vertical .hop-Tile__illustration {
    border-start-start-radius: var(--hop-comp-tile-border-radius);
    border-start-end-radius: var(--hop-comp-tile-border-radius);
}

.hop-Tile--horizontal .hop-Tile__illustration {
    --hop-Tile-horizontal-illustration-block-size: 100%;

    block-size: var(--hop-Tile-horizontal-illustration-block-size);
    border-start-start-radius: var(--hop-comp-tile-border-radius);
    border-end-start-radius: var(--hop-comp-tile-border-radius);
}

.hop-Tile__container {
    --hop-Tile__container-padding: var(--hop-space-inset-md);
    --hop-Tile__container-display: grid;
    --hop-Tile__container-text-align: left;
    --hop-Tile__container-grid-template:
        "heading icon" auto
        "content icon" 1fr
        / 1fr auto;

    display: var(--hop-Tile__container-display);
    grid-area: container;
    grid-template: var(--hop-Tile__container-grid-template);
    align-items: center;

    padding: var(--hop-Tile__container-padding);

    text-align: var(--hop-Tile__container-text-align);
}

:where(.hop-Tile__heading) {
    --hop-Tile__heading-font-size: var(--hop-heading-sm-font-size);
    --hop-Tile__heading-font-family: var(--hop-heading-sm-font-family);
    --hop-Tile__heading-font-weight: var(--hop-heading-sm-font-weight);
    --hop-Tile__heading-line-height: var(--hop-heading-sm-line-height);
    --hop-Tile__heading-margin-block-end: var(--hop-space-stack-md);

    grid-area: heading;

    margin-block-end: var(--hop-Tile__heading-margin-block-end);

    font-family: var(--hop-Tile__heading-font-family);
    font-size: var(--hop-Tile__heading-font-size);
    font-weight: var(--hop-Tile__heading-font-weight);
    line-height: var(--hop-Tile__heading-line-height);
    color: var(--color);
}

.hop-Tile__content {
    --hop-Tile__content-font-size: var(--hop-body-md-font-size);
    --hop-Tile__content-font-family: var(--hop-body-md-font-family);
    --hop-Tile__content-font-weight: var(--hop-body-md-font-weight);
    --hop-Tile__content-line-height: var(--hop-body-md-line-height);

    grid-area: content;

    font-family: var(--hop-Tile__content-font-family);
    font-size: var(--hop-Tile__content-font-size);
    font-weight: var(--hop-Tile__content-font-weight);
    line-height: var(--hop-Tile__content-line-height);
    color: var(--color);
}

.hop-Tile__icon-container {
    --hop-Tile__icon-container-margin-inline-start: var(--hop-space-inset-md);

    grid-area: icon;
    margin-inline-start: var(--hop-Tile__icon-container-margin-inline-start);
}

.hop-Tile__icon {
    color: var(--hop-Tile-color-icon);
}
