.hop-Button {
    --hop-Button-focus-ring-color: var(--hop-primary-border-focus);
    --hop-Button-column-gap: var(--hop-space-inline-xs);
    --hop-Button-icon-only-column-gap: 0;
    --hop-Button-outline-size: var(--hop-space-20);
    --hop-Button-border-size: var(--hop-space-10);

    /* Sizes */
    --hop-Button-icon-only-padding: 0; /* Since the content is centered, no need for padding */
    --hop-Button-xs-height: 1.5rem;
    --hop-Button-sm-height: 2rem;
    --hop-Button-md-height: 2.5rem;
    --hop-Button-xs-padding: 0 var(--hop-space-inset-sm);
    --hop-Button-sm-padding: 0 var(--hop-space-inset-md);
    --hop-Button-md-padding: 0 var(--hop-space-inset-md);

    /* Ghost */
    --hop-Button-ghost-xs-padding: 0 var(--hop-space-inset-xs);
    --hop-Button-ghost-sm-padding: 0 var(--hop-space-inset-xs);
    --hop-Button-ghost-md-padding: 0 var(--hop-space-inset-sm);

    /* Disabled */
    --hop-Button-border-disabled: var(--hop-Button-border-size) solid var(--hop-comp-button-disabled-border-color);
    --hop-Button-ghost-border-disabled: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-disabled-border-color);


    /* Primary */
    --hop-Button-primary-border: var(--hop-Button-border-size) solid var(--hop-comp-button-primary-border-color);
    --hop-Button-primary-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-primary-border-color-hover);
    --hop-Button-primary-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-primary-border-color-pressed);
    --hop-Button-primary-spinner-color: var(--hop-primary-icon-strong);

    /* Secondary */
    --hop-Button-secondary-border: var(--hop-Button-border-size) solid var(--hop-comp-button-secondary-border-color);
    --hop-Button-secondary-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-secondary-border-color-hover);
    --hop-Button-secondary-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-secondary-border-color-pressed);
    --hop-Button-secondary-spinner-color: var(--hop-neutral-icon);

    /* Upsell */
    --hop-Button-upsell-border: var(--hop-Button-border-size) solid var(--hop-comp-button-upsell-border-color);
    --hop-Button-upsell-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-upsell-border-color-hover);
    --hop-Button-upsell-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-upsell-border-color-pressed);
    --hop-Button-upsell-spinner-color: var(--hop-upsell-icon);

    /* Danger */
    --hop-Button-danger-border: var(--hop-Button-border-size) solid var(--hop-comp-button-danger-border-color);
    --hop-Button-danger-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-danger-border-color-hover);
    --hop-Button-danger-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-danger-border-color-pressed);
    --hop-Button-danger-spinner-color: var(--hop-primary-icon-strong);

    /* Ghost Primary */
    --hop-Button-ghost-primary-border: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-primary-border-color);
    --hop-Button-ghost-primary-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-primary-border-color-hover);
    --hop-Button-ghost-primary-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-primary-border-color-pressed);
    --hop-Button-ghost-primary-spinner-color: var(--hop-neutral-icon);

    /* Ghost Secondary */
    --hop-Button-ghost-secondary-border: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-secondary-border-color);
    --hop-Button-ghost-secondary-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-secondary-border-color-hover);
    --hop-Button-ghost-secondary-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-secondary-border-color-pressed);
    --hop-Button-ghost-secondary-spinner-color: var(--hop-neutral-icon);

    /* Ghost Danger */
    --hop-Button-ghost-danger-border: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-danger-border-color);
    --hop-Button-ghost-danger-border-hover: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-danger-border-color-hover);
    --hop-Button-ghost-danger-border-pressed: var(--hop-Button-border-size) solid var(--hop-comp-button-ghost-danger-border-color-pressed);
    --hop-Button-ghost-danger-spinner-color: var(--hop-neutral-icon);

    /* Internal variable */
    --inline-size: max-content;
    --block-size: var(--hop-Button-md-height);
    --background-color: var(--hop-primary-surface-strong);
    --color: var(--hop-primary-text-strong);
    --column-gap: var(--hop-Button-column-gap);
    --spinner: var(--hop-primary-icon-strong);
    --border: 0;
    --padding: var(--hop-Button-md-padding);
    --box-shadow: none;

    /** styles */
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: flex;
    column-gap: var(--column-gap);
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--inline-size);
    block-size: var(--block-size);
    padding: var(--padding);

    color: var(--color);
    text-decoration: none;
    white-space: nowrap;

    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--hop-comp-button-border-radius);
    outline: none;
    outline-offset: var(--hop-Button-outline-size);
    box-shadow: var(--box-shadow);

    transition:
        color var(--hop-easing-duration-2) var(--hop-easing-productive),
        background-color var(--hop-easing-duration-2) var(--hop-easing-productive),
        border var(--hop-easing-duration-2) var(--hop-easing-productive);
}

.hop-Button--fluid {
    --inline-size: 100%;
}

/** Sizes */
.hop-Button--xs {
    --block-size: var(--hop-Button-xs-height);
    --padding: var(--hop-Button-xs-padding);
}

.hop-Button--xs[class*="--ghost"] {
    --padding: var(--hop-Button-ghost-xs-padding);
}

.hop-Button--sm {
    --block-size: var(--hop-Button-sm-height);
    --padding: var(--hop-Button-sm-padding);
}

.hop-Button--sm[class*="--ghost"] {
    --padding: var(--hop-Button-ghost-sm-padding);
}

.hop-Button--md[class*="--ghost"] {
    --padding: var(--hop-Button-ghost-md-padding);
}

/** Modifier */
.hop-Button--icon-only {
    --column-gap: var(--hop-Button-icon-only-column-gap);
    --padding: var(--hop-Button-icon-only-padding);

    aspect-ratio: 1;
}

/** Variants */
.hop-Button--primary {
    --background-color: var(--hop-comp-button-primary-background-color);
    --color: var(--hop-comp-button-primary-text-color);
    --border: var(--hop-Button-primary-border);
    --spinner-color: var(--hop-Button-primary-spinner-color);
    --box-shadow: var(--hop-comp-button-primary-box-shadow);
}

.hop-Button--primary[data-hovered],
.hop-Button--primary[data-focus-visible]
 {
    --background-color: var(--hop-comp-button-primary-background-color-hover);
    --color: var(--hop-comp-button-primary-text-color-hover);
    --border: var(--hop-Button-primary-border-hover);
}

.hop-Button--primary[data-pressed] {
    --background-color: var(--hop-comp-button-primary-background-color-pressed);
    --color: var(--hop-comp-button-primary-text-color-pressed);
    --border: var(--hop-Button-primary-border-pressed);
}

.hop-Button--secondary {
    --background-color: var(--hop-comp-button-secondary-background-color);
    --color: var(--hop-comp-button-secondary-text-color);
    --border: var(--hop-Button-secondary-border);
    --spinner-color: var(--hop-Button-secondary-spinner-color);
    --box-shadow: var(--hop-comp-button-secondary-box-shadow);
}

.hop-Button--secondary[data-hovered],
.hop-Button--secondary[data-focus-visible] {
    --background-color: var(--hop-comp-button-secondary-background-color-hover);
    --color: var(--hop-comp-button-secondary-text-color-hover);
    --border: var(--hop-Button-secondary-border-hover);
}

.hop-Button--secondary[data-pressed] {
    --background-color: var(--hop-comp-button-secondary-background-color-pressed);
    --color: var(--hop-comp-button-secondary-text-color-pressed);
    --border: var(--hop-Button-secondary-border-pressed);
}

.hop-Button--upsell {
    --background-color: var(--hop-comp-button-upsell-background-color);
    --color: var(--hop-comp-button-upsell-text-color);
    --border: var(--hop-Button-upsell-border);
    --spinner-color: var(--hop-Button-upsell-spinner-color);
    --box-shadow: var(--hop-comp-button-upsell-box-shadow);
}

.hop-Button--upsell[data-hovered],
.hop-Button--upsell[data-focus-visible] {
    --background-color: var(--hop-comp-button-upsell-background-color-hover);
    --color: var(--hop-comp-button-upsell-text-color-hover);
    --border: var(--hop-Button-upsell-border-hover);
}

.hop-Button--upsell[data-pressed] {
    --background-color: var(--hop-comp-button-upsell-background-color-pressed);
    --color: var(--hop-comp-button-upsell-text-color-pressed);
    --border: var(--hop-Button-upsell-border-pressed);
}

.hop-Button--danger {
    --background-color: var(--hop-comp-button-danger-background-color);
    --color: var(--hop-comp-button-danger-text-color);
    --border: var(--hop-Button-danger-border);
    --spinner-color: var(--hop-Button-danger-spinner-color);
    --box-shadow: var(--hop-comp-button-danger-box-shadow);
}

.hop-Button--danger[data-hovered],
.hop-Button--danger[data-focus-visible] {
    --background-color: var(--hop-comp-button-danger-background-color-hover);
    --color: var(--hop-comp-button-danger-text-color-hover);
    --border: var(--hop-Button-danger-border-hover);
}

.hop-Button--danger[data-pressed] {
    --background-color: var(--hop-comp-button-danger-background-color-pressed);
    --color: var(--hop-comp-button-danger-text-color-pressed);
    --border: var(--hop-Button-danger-border-pressed);
}

.hop-Button--ghost-primary {
    --background-color: var(--hop-comp-button-ghost-primary-background-color);
    --color: var(--hop-comp-button-ghost-primary-text-color);
    --border: var(--hop-Button-ghost-primary-border);
    --spinner-color: var(--hop-Button-ghost-primary-spinner-color);
    --box-shadow: var(--hop-comp-button-ghost-primary-box-shadow);
}

.hop-Button--ghost-primary[data-hovered],
.hop-Button--ghost-primary[data-focus-visible] {
    --background-color: var(--hop-comp-button-ghost-primary-background-color-hover);
    --color: var(--hop-comp-button-ghost-primary-text-color-hover);
    --border: var(--hop-Button-ghost-primary-border-hover);
}

.hop-Button--ghost-primary[data-pressed] {
    --background-color: var(--hop-comp-button-ghost-primary-background-color-pressed);
    --color: var(--hop-comp-button-ghost-primary-text-color-pressed);
    --border: var(--hop-Button-ghost-primary-border-pressed);
}

.hop-Button--ghost-secondary {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color);
    --color: var(--hop-comp-button-ghost-secondary-text-color);
    --border: var(--hop-Button-ghost-secondary-border);
    --spinner-color: var(--hop-Button-ghost-secondary-spinner-color);
    --box-shadow: var(--hop-comp-button-ghost-secondary-box-shadow);
}

.hop-Button--ghost-secondary[data-hovered],
.hop-Button--ghost-secondary[data-focus-visible] {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color-hover);
    --color: var(--hop-comp-button-ghost-secondary-text-color-hover);
    --border: var(--hop-Button-ghost-secondary-border-hover);
}

.hop-Button--ghost-secondary[data-pressed] {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color-pressed);
    --color: var(--hop-comp-button-ghost-secondary-text-color-pressed);
    --border: var(--hop-Button-ghost-secondary-border-pressed);
}

.hop-Button--ghost-danger {
    --background-color: var(--hop-comp-button-ghost-danger-background-color);
    --color: var(--hop-comp-button-ghost-danger-text-color);
    --border: var(--hop-Button-ghost-danger-border);
    --spinner-color: var(--hop-Button-ghost-danger-spinner-color);
    --box-shadow: var(--hop-comp-button-ghost-danger-box-shadow);
}

.hop-Button--ghost-danger[data-hovered],
.hop-Button--ghost-danger[data-focus-visible] {
    --background-color: var(--hop-comp-button-ghost-danger-background-color-hover);
    --color: var(--hop-comp-button-ghost-danger-text-color-hover);
    --border: var(--hop-Button-ghost-danger-border-hover);
}

.hop-Button--ghost-danger[data-pressed] {
    --background-color: var(--hop-comp-button-ghost-danger-background-color-pressed);
    --color: var(--hop-comp-button-ghost-danger-text-color-pressed);
    --border: var(--hop-Button-ghost-danger-border-pressed);
}

/** Focus Ring */
.hop-Button[data-focus-visible] {
    outline: var(--hop-Button-outline-size) solid var(--hop-Button-focus-ring-color);
}

/* Disabled */
.hop-Button[data-disabled],
.hop-Button--loading {
    cursor: not-allowed;
}

.hop-Button[data-disabled] {
    --background-color: var(--hop-comp-button-disabled-background-color);
    --color: var(--hop-comp-button-disabled-text-color);
    --border: var(--hop-Button-border-disabled);
}

.hop-Button[class*="--ghost"][data-disabled] {
    --background-color: var(--hop-comp-button-ghost-disabled-background-color);
    --color: var(--hop-comp-button-ghost-disabled-text-color);
    --border: var(--hop-Button-ghost-border-disabled);
}

/* Loading */

.hop-Button--loading.hop-Button--primary {
    --background-color: var(--hop-comp-button-primary-background-color);
    --color: var(--hop-comp-button-primary-text-color);
    --border: var(--hop-Button-primary-border);
}

.hop-Button--loading.hop-Button--secondary {
    --background-color: var(--hop-comp-button-secondary-background-color);
    --color: var(--hop-comp-button-secondary-text-color);
    --border: var(--hop-Button-secondary-border);
}

.hop-Button--loading.hop-Button--upsell {
    --background-color: var(--hop-comp-button-upsell-background-color);
    --color: var(--hop-comp-button-upsell-text-color);
    --border: var(--hop-Button-upsell-border);
}

.hop-Button--loading.hop-Button--danger {
    --background-color: var(--hop-comp-button-danger-background-color);
    --color: var(--hop-comp-button-danger-text-color);
    --border: var(--hop-Button-danger-border);
}

.hop-Button--loading.hop-Button--ghost-primary {
    --background-color: var(--hop-comp-button-ghost-primary-background-color);
    --color: var(--hop-comp-button-ghost-primary-text-color);
    --border: var(--hop-Button-ghost-primary-border);
}

.hop-Button--loading.hop-Button--ghost-secondary {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color);
    --color: var(--hop-comp-button-ghost-secondary-text-color);
    --border: var(--hop-Button-ghost-secondary-border);
}

.hop-Button--loading.hop-Button--ghost-danger {
    --background-color: var(--hop-comp-button-ghost-danger-background-color);
    --color: var(--hop-comp-button-ghost-danger-text-color);
    --border: var(--hop-Button-ghost-danger-border);
}

/** Elements */
.hop-Button__Spinner {
    position: absolute;
    color: var(--spinner-color)
}

.hop-Button__icon,
.hop-Button__icon-list {
    flex: 0 0 auto;
    justify-self: end;
    order: 1;
}

.hop-Button__text {
    user-select: none;

    overflow: visible;
    flex: 0 1 auto;
    order: 2;

    font-weight: var(--hop-font-weight-505);
    text-decoration: none;
    text-wrap: nowrap;
}

.hop-Button__end-icon,
.hop-Button__end-icon-list {
    flex: 0 0 auto;
    order: 3;
}

.hop-Button .hop-Button__icon-list,
.hop-Button .hop-Button__end-icon-list {
    flex-wrap: nowrap;
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-Button--loading.hop-Button > *:not(.hop-Button__Spinner) {
    opacity: 0;
}
