.hop-ToggleButton {
    --hop-ToggleButton-border-size: var(--hop-space-10);

    composes: hop-Button from "./Button.module.css";
}

.hop-ToggleButton--fluid {
   composes: hop-Button--fluid from "./Button.module.css";
}

/** Sizes */
.hop-ToggleButton--xs {
    composes: hop-Button--xs from "./Button.module.css";
}

.hop-ToggleButton--sm {
    composes: hop-Button--sm from "./Button.module.css";
}

.hop-ToggleButton--md {
    composes: hop-Button--md from "./Button.module.css";
}

/** Modifier */
.hop-ToggleButton--icon-only {
    composes: hop-Button--icon-only from "./Button.module.css";
}

/** Variants */
.hop-ToggleButton--primary {
    composes: hop-Button--primary from "./Button.module.css";
}

.hop-ToggleButton--primary[data-selected] {
    --background-color: var(--hop-comp-button-primary-background-color-selected);
    --color: var(--hop-comp-button-primary-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-primary-border-color-selected);
}

.hop-ToggleButton--secondary {
    composes: hop-Button--secondary from "./Button.module.css";
}

.hop-ToggleButton--secondary[data-selected] {
    --background-color: var(--hop-comp-button-secondary-background-color-selected);
    --color: var(--hop-comp-button-secondary-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-secondary-border-color-selected);
}

.hop-ToggleButton--upsell {
    composes: hop-Button--upsell from "./Button.module.css";
}

.hop-ToggleButton--upsell[data-selected] {
    --background-color: var(--hop-comp-button-upsell-background-color-selected);
    --color: var(--hop-comp-button-upsell-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-upsell-border-color-selected);
}

.hop-ToggleButton--danger {
    composes: hop-Button--danger from "./Button.module.css";
}

.hop-ToggleButton--danger[data-selected] {
    --background-color: var(--hop-comp-button-danger-background-color-selected);
    --color: var(--hop-comp-button-danger-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-danger-border-color-selected);
}

.hop-ToggleButton--ghost-primary {
    composes: hop-Button--ghost-primary from "./Button.module.css";
}

.hop-ToggleButton--ghost-primary[data-selected] {
    --background-color: var(--hop-comp-button-ghost-primary-background-color-selected);
    --color: var(--hop-comp-button-ghost-primary-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-ghost-primary-border-color-selected);
}

.hop-ToggleButton--ghost-secondary {
    composes: hop-Button--ghost-secondary from "./Button.module.css";
}

.hop-ToggleButton--ghost-secondary[data-selected] {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color-selected);
    --color: var(--hop-comp-button-ghost-secondary-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-ghost-secondary-border-color-selected);
}

.hop-ToggleButton--ghost-danger {
    composes: hop-Button--ghost-danger from "./Button.module.css";
}

.hop-ToggleButton--ghost-danger[data-selected] {
    --background-color: var(--hop-comp-button-ghost-danger-background-color-selected);
    --color: var(--hop-comp-button-ghost-danger-text-color-selected);
    --border: var(--hop-ToggleButton-border-size) solid var(--hop-comp-button-ghost-danger-border-color-selected);
}

/* Loading - uses Button's component tokens directly */
.hop-ToggleButton--loading.hop-ToggleButton--primary {
    --background-color: var(--hop-comp-button-primary-background-color);
    --color: var(--hop-comp-button-primary-text-color);
    --border: var(--hop-Button-primary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--secondary {
    --background-color: var(--hop-comp-button-secondary-background-color);
    --color: var(--hop-comp-button-secondary-text-color);
    --border: var(--hop-Button-secondary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--upsell {
    --background-color: var(--hop-comp-button-upsell-background-color);
    --color: var(--hop-comp-button-upsell-text-color);
    --border: var(--hop-Button-upsell-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--danger {
    --background-color: var(--hop-comp-button-danger-background-color);
    --color: var(--hop-comp-button-danger-text-color);
    --border: var(--hop-Button-danger-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-primary {
    --background-color: var(--hop-comp-button-ghost-primary-background-color);
    --color: var(--hop-comp-button-ghost-primary-text-color);
    --border: var(--hop-Button-ghost-primary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-secondary {
    --background-color: var(--hop-comp-button-ghost-secondary-background-color);
    --color: var(--hop-comp-button-ghost-secondary-text-color);
    --border: var(--hop-Button-ghost-secondary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-danger {
    --background-color: var(--hop-comp-button-ghost-danger-background-color);
    --color: var(--hop-comp-button-ghost-danger-text-color);
    --border: var(--hop-Button-ghost-danger-border);
}

/** Elements */
.hop-ToggleButton__Spinner {
    composes: hop-Button__Spinner from "./Button.module.css";
}

.hop-ToggleButton__icon,
.hop-ToggleButton__icon-list {
    composes: hop-Button__icon from "./Button.module.css";
}

.hop-ToggleButton__text {
    composes: hop-Button__text from "./Button.module.css";
}

.hop-ToggleButton__end-icon,
.hop-ToggleButton__end-icon-list {
    composes: hop-Button__end-icon from "./Button.module.css";
}

.hop-ToggleButton__icon-list,
.hop-ToggleButton__end-icon-list {
    composes: hop-Button__icon-list from "./Button.module.css";
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-ToggleButton--loading.hop-ToggleButton > *:not(.hop-ToggleButton__Spinner) {
    opacity: 0;
}
