.hop-ToggleButton {
    --hop-ToggleButton-border-size: var(--hop-space-10);

    /* Primary */
    --hop-ToggleButton-primary-color: var(--hop-primary-text-strong);
    --hop-ToggleButton-primary-background-color: var(--hop-primary-surface-strong);
    --hop-ToggleButton-primary-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-primary-background-color); /* same color as the background */
    --hop-ToggleButton-primary-color-selected: var(--hop-primary-text-selected);
    --hop-ToggleButton-primary-background-color-selected: var(--hop-primary-surface-selected);
    --hop-ToggleButton-primary-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-primary-border-selected);

    /* Secondary */
     --hop-ToggleButton-secondary-color: var(--hop-neutral-text);
     --hop-ToggleButton-secondary-background-color: var(--hop-neutral-surface);
     --hop-ToggleButton-secondary-border: var(--hop-ToggleButton-border-size) solid var(--hop-neutral-border-strong);
    --hop-ToggleButton-secondary-color-selected: var(--hop-neutral-text-selected);
    --hop-ToggleButton-secondary-background-color-selected: var(--hop-neutral-surface-selected);
    --hop-ToggleButton-secondary-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-neutral-border-selected);

    /* Upsell */
    --hop-ToggleButton-upsell-color: var(--hop-upsell-text);
    --hop-ToggleButton-upsell-background-color: var(--hop-upsell-weak-surface);
    --hop-ToggleButton-upsell-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-upsell-background-color); /* same color as the background */
    --hop-ToggleButton-upsell-color-selected: var(--hop-upsell-text-selected);
    --hop-ToggleButton-upsell-background-color-selected: var(--hop-upsell-surface-selected);
    --hop-ToggleButton-upsell-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-upsell-border-selected); /* same color as the background */

    /* Danger */
    --hop-ToggleButton-danger-color: var(--hop-danger-text-strong);
    --hop-ToggleButton-danger-background-color: var(--hop-danger-surface-strong);
    --hop-ToggleButton-danger-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-danger-background-color); /* same color as the background */
    --hop-ToggleButton-danger-color-selected: var(--hop-danger-text-selected);
    --hop-ToggleButton-danger-background-color-selected: var(--hop-danger-surface-selected);
    --hop-ToggleButton-danger-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-danger-border-selected); /* same color as the background */

    /* Ghost Primary */
    --hop-ToggleButton-ghost-primary-color: var(--hop-primary-text);
    --hop-ToggleButton-ghost-primary-background-color: transparent;
    --hop-ToggleButton-ghost-primary-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-primary-background-color); /* same color as the background */
    --hop-ToggleButton-ghost-primary-color-selected: var(--hop-primary-text-press);
    --hop-ToggleButton-ghost-primary-background-color-selected: var(--hop-primary-surface-weak-press);
    --hop-ToggleButton-ghost-primary-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-primary-background-color-selected); /* same color as the background */

    /* Ghost Secondary */
    --hop-ToggleButton-ghost-secondary-color: var(--hop-neutral-text-weak);
    --hop-ToggleButton-ghost-secondary-background-color: transparent;
    --hop-ToggleButton-ghost-secondary-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-secondary-background-color); /* same color as the background */
    --hop-ToggleButton-ghost-secondary-color-selected: var(--hop-neutral-text-weak-press);
    --hop-ToggleButton-ghost-secondary-background-color-selected: var(--hop-neutral-surface-press);
    --hop-ToggleButton-ghost-secondary-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-secondary-background-color-selected); /* same color as the background */

    /* Ghost Danger */
    --hop-ToggleButton-ghost-danger-color: var(--hop-danger-text-weak);
    --hop-ToggleButton-ghost-danger-background-color: transparent;
    --hop-ToggleButton-ghost-danger-border: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-danger-background-color); /* same color as the background */
    --hop-ToggleButton-ghost-danger-color-selected: var(--hop-danger-text-press);
    --hop-ToggleButton-ghost-danger-background-color-selected: var(--hop-danger-surface-weak-press);
    --hop-ToggleButton-ghost-danger-border-selected: var(--hop-ToggleButton-border-size) solid var(--hop-ToggleButton-ghost-danger-background-color-selected); /* same color as the background */

    composes: hop-Button from "./Button.module.css";
}

.hop-ToggleButton--fluid {
   composes: hop-Button--fluid from "./Button.module.css";
}

/** Sizes */
.hop-ToggleButton--xs {
    composes: hop-Button--xs from "./Button.module.css";
}

.hop-ToggleButton--sm {
    composes: hop-Button--sm from "./Button.module.css";
}

.hop-ToggleButton--md {
    composes: hop-Button--md from "./Button.module.css";
}

/** Modifier */
.hop-ToggleButton--icon-only {
    composes: hop-Button--icon-only from "./Button.module.css";
}

/** Variants */
.hop-ToggleButton--primary {
    composes: hop-Button--primary from "./Button.module.css";
}

.hop-ToggleButton--primary[data-selected] {
    --background-color: var(--hop-ToggleButton-primary-background-color-selected);
    --color: var(--hop-ToggleButton-primary-color-selected);
    --border: var(--hop-ToggleButton-primary-border-selected);
}

.hop-ToggleButton--secondary {
    composes: hop-Button--secondary from "./Button.module.css";
}

.hop-ToggleButton--secondary[data-selected] {
    --background-color: var(--hop-ToggleButton-secondary-background-color-selected);
    --color: var(--hop-ToggleButton-secondary-color-selected);
    --border: var(--hop-ToggleButton-secondary-border-selected);
}

.hop-ToggleButton--upsell {
    composes: hop-Button--upsell from "./Button.module.css";
}

.hop-ToggleButton--upsell[data-selected] {
    --background-color: var(--hop-ToggleButton-upsell-background-color-selected);
    --color: var(--hop-ToggleButton-upsell-color-selected);
    --border: var(--hop-ToggleButton-upsell-border-selected);
}

.hop-ToggleButton--danger {
    composes: hop-Button--danger from "./Button.module.css";
}

.hop-ToggleButton--danger[data-selected] {
    --background-color: var(--hop-ToggleButton-danger-background-color-selected);
    --color: var(--hop-ToggleButton-danger-color-selected);
    --border: var(--hop-ToggleButton-danger-border-selected);
}

.hop-ToggleButton--ghost-primary {
    composes: hop-Button--ghost-primary from "./Button.module.css";
}

.hop-ToggleButton--ghost-primary[data-selected] {
    --background-color: var(--hop-ToggleButton-ghost-primary-background-color-selected);
    --color: var(--hop-ToggleButton-ghost-primary-color-selected);
    --border: var(--hop-ToggleButton-ghost-primary-border-selected);
}

.hop-ToggleButton--ghost-secondary {
    composes: hop-Button--ghost-secondary from "./Button.module.css";
}

.hop-ToggleButton--ghost-secondary[data-selected] {
    --background-color: var(--hop-ToggleButton-ghost-secondary-background-color-selected);
    --color: var(--hop-ToggleButton-ghost-secondary-color-selected);
    --border: var(--hop-ToggleButton-ghost-secondary-border-selected);
}

.hop-ToggleButton--ghost-danger {
    composes: hop-Button--ghost-danger from "./Button.module.css";
}

.hop-ToggleButton--ghost-danger[data-selected] {
    --background-color: var(--hop-ToggleButton-ghost-danger-background-color-selected);
    --color: var(--hop-ToggleButton-ghost-danger-color-selected);
    --border: var(--hop-ToggleButton-ghost-danger-border-selected);
}

/* Loading */
.hop-ToggleButton--loading.hop-ToggleButton--primary {
    --background-color: var(--hop-ToggleButton-primary-background-color);
    --color: var(--hop-ToggleButton-primary-color);
    --border: var(--hop-ToggleButton-primary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--secondary {
    --background-color: var(--hop-ToggleButton-secondary-background-color);
    --color: var(--hop-ToggleButton-secondary-color);
    --border: var(--hop-ToggleButton-secondary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--upsell {
    --background-color: var(--hop-ToggleButton-upsell-background-color);
    --color: var(--hop-ToggleButton-upsell-color);
    --border: var(--hop-ToggleButton-upsell-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--danger {
    --background-color: var(--hop-ToggleButton-danger-background-color);
    --color: var(--hop-ToggleButton-danger-color);
    --border: var(--hop-ToggleButton-danger-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-primary {
    --background-color: var(--hop-ToggleButton-ghost-primary-background-color);
    --color: var(--hop-ToggleButton-ghost-primary-color);
    --border: var(--hop-ToggleButton-ghost-primary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-secondary {
    --background-color: var(--hop-ToggleButton-ghost-secondary-background-color);
    --color: var(--hop-ToggleButton-ghost-secondary-color);
    --border: var(--hop-ToggleButton-ghost-secondary-border);
}

.hop-ToggleButton--loading.hop-ToggleButton--ghost-danger {
    --background-color: var(--hop-ToggleButton-ghost-danger-background-color);
    --color: var(--hop-ToggleButton-ghost-danger-color);
    --border: var(--hop-ToggleButton-ghost-danger-border);
}

/** Elements */
.hop-ToggleButton__Spinner {
    composes: hop-Button__Spinner from "./Button.module.css";
}

.hop-ToggleButton__icon,
.hop-ToggleButton__icon-list {
    composes: hop-Button__icon from "./Button.module.css";
}

.hop-ToggleButton__text {
    composes: hop-Button__text from "./Button.module.css";
}

.hop-ToggleButton__end-icon,
.hop-ToggleButton__end-icon-list {
    composes: hop-Button__end-icon from "./Button.module.css";
}

.hop-ToggleButton__icon-list,
.hop-ToggleButton__end-icon-list {
    composes: hop-Button__icon-list from "./Button.module.css";
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-ToggleButton--loading.hop-ToggleButton > *:not(.hop-ToggleButton__Spinner) {
    opacity: 0;
}
