.hop-Radio {
    /* Default */
    --hop-Radio-box-border-size: 0.0625rem;
    --hop-Radio-box-outline-size: 0.125rem;
    --hop-Radio-bullet-display: none;

    /* Selected */
    --hop-Radio-bullet-display-selected: block;

    /* Small */
    --hop-Radio-box-sm-inline-size: 1rem;
    --hop-Radio-box-sm-block-size: 1rem;
    --hop-Radio-text-sm-top-offset: calc((var(--box-inline-size) - (var(--hop-body-sm-line-height) * var(--hop-body-sm-font-size))) / 2);
    --hop-Radio-text-sm-margin-inline-start: calc(var(--hop-space-inline-sm) - var(--hop-space-inline-xs));

    /* Medium */
    --hop-Radio-box-md-inline-size: 1.5rem;
    --hop-Radio-box-md-block-size: 1.5rem;
    --hop-Radio-text-md-top-offset: calc((var(--box-inline-size) - (var(--hop-body-md-line-height) * var(--hop-body-md-font-size))) / 2);
    --hop-Radio-text-md-margin-inline-start: calc(var(--hop-space-inline-md) - var(--hop-space-inline-xs));

    /* Internal variable */
    --box-background-color: var(--hop-comp-mark-background-color);
    --box-border-color: var(--hop-comp-mark-border-color);
    --box-border-radius: var(--hop-comp-radio-border-radius);
    --bullet-color: var(--hop-comp-mark-indicator-color);
    --bullet-display: var(--hop-Radio-bullet-display);
    --cursor: pointer;
    --text-color: var(--hop-comp-label-text-color);
    --icon-color: var(--hop-comp-label-icon-color);
    --transition-duration: var(--hop-easing-duration-2);

    cursor: var(--cursor);

    display: flex;
    column-gap: var(--hop-space-inline-xs);
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
    inline-size: max-content;
    max-inline-size: 100%;
}

.hop-Radio[data-focus-visible] {
    --box-background-color: var(--hop-comp-mark-background-color-hover);
    --box-border-color: var(--hop-comp-mark-border-color-hover);
    --box-outline: var(--hop-Radio-box-outline-size) solid var(--hop-comp-mark-border-color-focus);
    --text-color: var(--hop-comp-label-text-color-focus);
    --icon-color: var(--hop-comp-label-icon-color-focus);
}

.hop-Radio[data-hovered] {
    --box-background-color: var(--hop-comp-mark-background-color-hover);
    --box-border-color: var(--hop-comp-mark-border-color-hover);
    --text-color: var(--hop-comp-label-text-color-hover);
    --icon-color: var(--hop-comp-label-icon-color-hover);
}

.hop-Radio[data-pressed] {
    --box-background-color: var(--hop-comp-mark-background-color-press);
    --box-border-color: var(--hop-comp-mark-border-color-press);
    --text-color: var(--hop-comp-label-text-color-press);
    --icon-color: var(--hop-comp-label-icon-color-press);
}

.hop-Radio[data-selected] {
    --box-background-color: var(--hop-comp-mark-background-color-selected);
    --box-border-color: var(--hop-comp-mark-border-color-selected);
    --bullet-display: var(--hop-Radio-bullet-display-selected);
    --text-color: var(--hop-comp-label-text-color-selected);
    --icon-color: var(--hop-comp-label-icon-color-selected);
}

.hop-Radio[data-invalid] {
    --box-background-color: var(--hop-comp-mark-background-color);
    --box-border-color: var(--hop-comp-mark-border-color-error);
    --bullet-color: var(--hop-comp-mark-indicator-color-error);
    --text-color: var(--hop-comp-label-text-color-error);
    --icon-color: var(--hop-comp-label-icon-color-error);
}

.hop-Radio:where([data-invalid])[data-focus-visible] {
    --box-background-color: var(--hop-comp-mark-background-color-error-focus);
    --box-border-color: var(--hop-comp-mark-border-color-error-focus);
}

.hop-Radio:where([data-invalid])[data-hovered] {
    --box-background-color: var(--hop-comp-mark-background-color-error-hover);
    --box-border-color: var(--hop-comp-mark-border-color-error);
    --text-color: var(--hop-comp-label-text-color-error-hover);
    --icon-color: var(--hop-comp-label-icon-color-error-hover);
}

.hop-Radio:where([data-invalid])[data-pressed] {
    --box-background-color: var(--hop-comp-mark-background-color-error-press);
    --box-border-color: var(--hop-comp-mark-border-color-error-press);
    --text-color: var(--hop-comp-label-text-color-error-press);
    --icon-color: var(--hop-comp-label-icon-color-error-press);
}

.hop-Radio:where([data-invalid])[data-selected] {
    --box-background-color: var(--hop-comp-mark-background-color-error);
    --box-border-color: var(--hop-comp-mark-border-color-error);
}

.hop-Radio[data-disabled] {
    --box-background-color: var(--hop-comp-mark-background-color-disabled);
    --box-border-color: var(--hop-comp-mark-border-color-disabled);
    --bullet-color: var(--hop-comp-mark-indicator-color-disabled);
    --cursor: not-allowed;
    --text-color: var(--hop-comp-label-text-color-disabled);
    --icon-color: var(--hop-comp-label-icon-color-disabled);
}

.hop-Radio--sm {
    --box-inline-size: var(--hop-Radio-box-sm-inline-size);
    --box-block-size: var(--hop-Radio-box-sm-block-size);
    --text-top-offset: var(--hop-Radio-text-sm-top-offset);
    --text-margin-inline-start: var(--hop-Radio-text-sm-margin-inline-start);
}

.hop-Radio--md {
    --box-inline-size: var(--hop-Radio-box-md-inline-size);
    --box-block-size: var(--hop-Radio-box-md-block-size);
    --text-top-offset: var(--hop-Radio-text-md-top-offset);
    --text-margin-inline-start: var(--hop-Radio-text-md-margin-inline-start);
}

/* Icons */
.hop-Radio__icon,
.hop-Radio__icon-list {
    flex: 0 0 auto;
    order: 3;
    color: var(--icon-color);
}

/* Box */
.hop-Radio__box {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    order: 1;

    box-sizing: border-box;
    inline-size: var(--box-inline-size, var(--hop-Radio-box-md-inline-size));
    block-size: var(--box-block-size, var(--hop-Radio-box-md-block-size));

    background-color: var(--box-background-color);
    border: var(--hop-Radio-box-border-size) solid var(--box-border-color);
    border-radius: var(--box-border-radius);
    outline: var(--box-outline, none);
    outline-offset: 0.125rem;

    transition: background-color var(--transition-duration) var(--hop-easing-productive),
    border var(--transition-duration) var(--hop-easing-productive);
}

/* Check */
.hop-Radio__bullet {
    display: var(--bullet-display);
    color: var(--bullet-color);
}

/* Text */
.hop-Radio__text {
    flex: 0 1 auto;
    order: 2;

    min-inline-size: 0;
    margin-block-start: var(--text-top-offset, var(--hop-Radio-text-md-top-offset));
    margin-inline-start: var(--text-margin-inline-start, var(--hop-Radio-text-md-margin-inline-start));

    color: var(--text-color);
}
