.hop-ChipGroup {
    /* Default */
    --hop-ChipGroup-row-gap: var(--hop-space-inline-sm);
    --hop-ChipGroup-list-column-gap: var(--hop-space-inline-sm);
    --hop-ChipGroup-list-row-gap: var(--hop-space-inline-sm);
    --hop-ChipGroup-list-focus-ring-color: var(--hop-primary-border-focus);
    --hop-ChipGroup-list-border-radius: var(--hop-shape-rounded-sm);

    /* Internal Variables */
    --row-gap: var(--hop-ChipGroup-row-gap);
    --list-column-gap: var(--hop-ChipGroup-list-column-gap);
    --list-row-gap: var(--hop-ChipGroup-list-row-gap);
    --list-focus-ring-color: var(--hop-ChipGroup-list-focus-ring-color);
    --list-border-radius: var(--hop-ChipGroup-list-border-radius);

    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
    inline-size: max-content;
    max-inline-size: 100%;
}

.hop-ChipGroup > .hop-ChipGroup__label {
    order: 1;
}

.hop-ChipGroup__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-row-gap) var(--list-column-gap);
    align-items: center;
    order: 2;

    border-radius: var(--list-border-radius);
    outline: none;
}

.hop-ChipGroup__list[data-focus-visible] {
    outline: 0.125rem solid var(--list-focus-ring-color);
    outline-offset: 0.125rem;
}

.hop-ChipGroup > .hop-ChipGroup__error-message,
.hop-ChipGroup > .hop-ChipGroup__helper-message {
    order: 3;
}
