name: Changesets

on:
    push:
        branches: [ "main" ]
env:
    CI: true

jobs:
    version:
        runs-on: ubuntu-latest
        permissions:
            id-token: write # OIDC for npm Trusted Publishing
            contents: write
            pull-requests: write

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup Node and PNPM
                uses: ./.github/composite-actions/setup

            -   name: Install dependencies
                run: pnpm i --frozen-lockfile

            -   name: Create release Pull Request or publish to NPM
                uses: changesets/action@v1
                with:
                    commit: "ci(changesets): version packages"
                    title: "Changeset: New Version"
                    publish: pnpm run ci-release
                    version: "pnpm run ci-version-packages"
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
