.hop-InputGroup {
    --hop-InputGroup-border-width: 0.0625rem;
    --hop-InputGroup-gap: var(--hop-space-inline-sm);
    --hop-InputGroup-inline-size: fit-content;
    --hop-InputGroup-padding-inline: var(--hop-space-inset-md);
    --hop-InputGroup-padding-block: 0;

    /* Internal Variables */
    --inline-size: var(--hop-InputGroup-inline-size);
    --border: var(--hop-InputGroup-border-width) solid var(--hop-comp-field-border-color);
    --background: var(--hop-comp-field-background-color);

    position: relative;

    display: inline-flex;
    flex-direction: row;
    gap: var(--hop-InputGroup-gap);
    align-items: center;

    box-sizing: border-box;
    inline-size: var(--inline-size);
    padding-block: var(--hop-InputGroup-padding-block);
    padding-inline: var(--hop-InputGroup-padding-inline);

    background: var(--background);
    border: var(--border);
    border-radius: var(--hop-comp-field-border-radius);
}

.hop-InputGroup--fluid {
    --inline-size: 100%;
}

.hop-InputGroup[data-hovered] {
    --background: var(--hop-comp-field-background-color-hover);
    --border: var(--hop-InputGroup-border-width) solid var(--hop-comp-field-border-color-hover);
}

.hop-InputGroup[data-focus-within] {
    --background: var(--hop-comp-field-background-color-focus);
    --border: var(--hop-InputGroup-border-width) solid var(--hop-comp-field-border-color-focus);
}

.hop-InputGroup[data-invalid] {
    --border: var(--hop-InputGroup-border-width) solid var(--hop-comp-field-border-color-error);
}

.hop-InputGroup[data-disabled] {
    --background: var(--hop-comp-field-background-color-disabled);
    --border: var(--hop-InputGroup-border-width) solid var(--hop-comp-field-border-color-disabled);
}
