.hop-RemainingCharacterCount {
    /* Internal Variables */
    --char-count-color: var(--hop-comp-field-prefill-color);

    color: var(--char-count-color);
}

.hop-RemainingCharacterCount[data-invalid] {
    --char-count-color: var(--hop-comp-field-text-color-error);
}

.hop-RemainingCharacterCount[data-disabled] {
    --char-count-color: var(--hop-comp-field-text-color-disabled);
}
