.hop-TextField  {
    --hop-TextField-gap: var(--hop-space-stack-xs);
    --hop-TextField-inline-size: 20rem;

    /* Internal Variables */
    --inline-size: var(--hop-TextField-inline-size);

    display: flex;
    flex-direction: column;
    gap: var(--hop-TextField-gap);

    inline-size: var(--inline-size);
    max-inline-size: 100%;
}

.hop-TextField--fluid  {
    --inline-size: 100%;
}

.hop-TextField__Label {
    order: 0;
}

.hop-TextField__prefix {
    color: var(--hop-comp-field-prefill-color);
}

.hop-TextField__InputGroup {
    order: 1;
}

.hop-TextField__ErrorMessage,
.hop-TextField__HelperMessage {
    order: 3;
}
